<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>海南集体接待日 119名上市公司高管说了啥？</title>
    <script>
        var docEle = document.documentElement;
        var eDiv = document.createElement('div');
        eDiv.innerHTML = '请竖屏查看';
        eDiv.className = 'landscape';
        eDiv.style.display = 'none';
        docEle.appendChild(eDiv);
        var timer = null;
        fn = function() {
            timer = setTimeout(function(){          //加延迟0.1s不然在android下获取到的宽高是旋转屏幕之前的宽高
                var width = docEle.clientWidth;
                var height = docEle.clientHeight;
//                alert(width+'--'+height)
                if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){         //移动端设备
                    if(width > height){             //宽度大于高度，说明是横屏
//                        eDiv.style.display = 'block';
                    }else{                          //竖屏
//                        eDiv.style.display = 'none';
                    }
                }
                if( width < 320 ) {
                    docEle.style.fontSize = 42.6667 + "px";//
                }
                else if( width > 1080 ) {
                    docEle.style.fontSize = 144 + "px";
                }
                else {
                    //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                    docEle.style.fontSize = 100 * (width / 750) + "px";
                }
            },100);
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div id="loading" class="loading-black" style="background-color: #0b0928;" >
    <img src="../../assets/common/logo-black.png" class="pre-logo" style="top: 4.8rem;"/>
    <!-- <div class="cow">
         <img src="../../assets/common/circle-black.png" class="pre-circle eye-rotate"/>
         <img src="../../assets/common/head.png" class="pre-head"/>
         <img src="../../assets/common/eye.png" class="pre-eye-left eye-rotate"/>
         <img src="../../assets/common/eye.png" class="pre-eye-right eye-rotate"/>
     </div>-->
    <div id="progress" style="top: 5.6rem;"><i class="progress-white"></i></div>
</div>
<a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;"></a>
<audio id="bgMusic" loop="loop" autoplay="autoplay">
    <source src="music.mp3" type="audio/mpeg">
</audio>

<div id="wxTitle" hidden>海南集体接待日 119名上市公司高管说了啥？</div>
<div id="wxDesc" hidden>所有你关心的海南30家上市公司的问题，答案都在这里了！</div>
<img src="../../assets/hainanjdr/fx.png" hidden/>
<div id="qj">
    <div class="section">
        <img src="../../assets/hainanjdr/bg.png" qj-effect="" class="bg1"/>
        <img src="../../assets/hainanjdr/img1.png" qj-effect="slideInDown animation-duration10" class="img1 backface-v"/>
        <img src="../../assets/hainanjdr/img2.png" qj-effect="slideUpDown" class="img2"/>
        <img src="../../assets/hainanjdr/img3.png" qj-effect="slideUpDown" class="img3"/>
        <img src="../../assets/hainanjdr/img4.png" qj-effect="slideLeftRightInverse" class="img4" id="introduceOpen2"/>
        <img src="../../assets/hainanjdr/img5.png" qj-effect="slideLeftRightInverse" class="img5" id="introduceOpen1"/>
        <img src="../../assets/hainanjdr/img6.png" qj-effect="slideUpDown" class="img6"/>
        <img src="../../assets/hainanjdr/img7.png" qj-effect="slideUpDown" class="img7" id="topMgrOpen2"/>
        <img src="../../assets/hainanjdr/img8.png" qj-effect="slideUpDown" class="img8" id="topMgrOpen1"/>
        <img src="../../assets/hainanjdr/img9.png" qj-effect="slideLeftRightInverse" class="img9"/>
        <img src="../../assets/hainanjdr/img11.png" qj-effect="slideLeftRightInverse" class="img11" id="hotOpen1"/>
        <img src="../../assets/hainanjdr/img10.png" qj-effect="slideLeftRightInverse" class="img10" id="hotOpen3"/>
        <img src="../../assets/hainanjdr/img12.png" qj-effect="slideLeftRightInverse" class="img12" id="hotOpen2"/>
        <!--<img src="../../assets/hainanjdr/img13.png" qj-effect="slideLeftRightInverse" class="img13"/>-->
        <img src="../../assets/hainanjdr/img14.png" qj-effect="slideLeftRight" class="img14"/>
        <img src="../../assets/hainanjdr/img15.png" qj-effect="slideLeftRight" class="img15"/>
        <img src="../../assets/hainanjdr/img16.png" qj-effect="slideUpDownInverse" class="img16" id="listOpen2"/>
        <img src="../../assets/hainanjdr/img17.png" qj-effect="slideUpDownInverse" class="img17" id="listOpen1"/>
        <img src="../../assets/hainanjdr/img18.png" qj-effect="slideUpDownInverse" class="img18" id="openReport1"/>
        <img src="../../assets/hainanjdr/img19.png" qj-effect="slideUpDownInverse" class="img19" id="openReport2"/>
        <img src="../../assets/hainanjdr/img20.png" qj-effect="slideLeftRightInverse" class="img20"/>
        <div class="windCarDiv" qj-effect="slideInDown animation-delay2">
            <img src="../../assets/hainanjdr/windCar.png" qj-effect="rotateLoopR" class="windCar windCar1"/>
            <img src="../../assets/hainanjdr/windCar.png" qj-effect="rotateLoopR" class="windCar windCar2"/>
        </div>
        <div class="intrPersonDiv" qj-effect="slideLeftRightInverse" id="introduceOpen3">
            <h2 class="intrPerson" qj-effect="runIntrPerson"></h2>
        </div>
        <div class="listPersonDiv" qj-effect="slideUpDownInverse" id="listOpen3">
            <h2 class="listPerson" qj-effect="runListPerson"></h2>
        </div>
        <div class="topMgrPersonDiv" qj-effect="slideUpDown" id="topMgrOpen3">
            <h2 class="topMgrPerson" qj-effect="runTopMgrPerson"></h2>
        </div>
        <div class="mediaPersonDiv" qj-effect="slideUpDownInverse" id="openReport3">
            <h2 class="mediaPerson" qj-effect="runMediaPerson"></h2>
        </div>
    </div>
    <div class="shade" id="shade" hidden >
        <div id="introduce">            <!--活动介绍-->
            <img src="../../assets/hainanjdr/intr1.png" qj-effect="smallToBigGo" class="intr1 stop-close"/>
            <img src="../../assets/hainanjdr/intr2.png" qj-effect="smallToBigGo" class="intr2 stop-close"/>
            <img src="../../assets/hainanjdr/intr3.png" qj-effect="slideInDownAndBack" class="intr3"/>
        </div>
        <div id="topMgr">            <!--高管风采-->
            <div class="swiper-container swiper-container3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/hainanjdr/topMgr11.jpg" qj-effect="smallToBigGo" class="topMgr1 stop-close"/>
                        <img src="../../assets/hainanjdr/topMgr12.jpg" qj-effect="smallToBigGo" class="topMgr2 stop-close"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/hainanjdr/topMgr13.jpg" qj-effect="smallToBigGo" class="topMgr1 stop-close"/>
                        <img src="../../assets/hainanjdr/topMgr14.jpg" qj-effect="smallToBigGo" class="topMgr2 stop-close"/>
                    </div>
                </div>
            </div>
            <div class="swiper-container swiper-container4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/hainanjdr/topMgr21.jpg" qj-effect="smallToBigGo" class="topMgr3 stop-close"/>
                        <img src="../../assets/hainanjdr/topMgr22.jpg" qj-effect="smallToBigGo" class="topMgr4 stop-close"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/hainanjdr/topMgr24.jpg" qj-effect="smallToBigGo" class="topMgr4 stop-close"/>
                        <img src="../../assets/hainanjdr/topMgr23.jpg" qj-effect="smallToBigGo" class="topMgr3 stop-close"/>
                    </div>
                </div>
            </div>
            <div class="swiper-container swiper-container5">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/hainanjdr/topMgr31.jpg" qj-effect="smallToBigGo" class="topMgr5 stop-close"/>
                        <img src="../../assets/hainanjdr/topMgr32.jpg" qj-effect="smallToBigGo" class="topMgr6 stop-close"/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/hainanjdr/topMgr34.jpg" qj-effect="smallToBigGo" class="topMgr6 stop-close"/>
                        <img src="../../assets/hainanjdr/topMgr33.jpg" qj-effect="smallToBigGo" class="topMgr5 stop-close"/>
                    </div>
                </div>
            </div>
            <img src="../../assets/hainanjdr/topMgrC.png" qj-effect="slideInDown" class="topMgrC"/>
        </div>
        <div id="hot">            <!--互动热点-->
            <img src="../../assets/hainanjdr/hot1.png" qj-effect="slideInRight" class="hot1 stop-close"/>
            <img src="../../assets/hainanjdr/hot2.png" qj-effect="slideInRight animation-delay5" class="hot2 stop-close"/>
            <!--<img src="../../assets/hainanjdr/hot3.png" qj-effect="slideInRight animation-delay10" class="hot3 stop-close"/>-->
            <div class="swiper-container swiper-container1" qj-effect="slideInRight animation-delay10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/hainanjdr/hot-c1.png" class="hot-c hot-c1 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/hainanjdr/hot-c2.png" class="hot-c hot-c2 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/hainanjdr/hot-c3.png" class="hot-c hot-c3 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/hainanjdr/hot-c4.png" class="hot-c hot-c4 stop-close"/></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination stop-close"></div>
            </div>
            <img src="../../assets/hainanjdr/hotC.png" qj-effect="slideInDown animation-delay15" class="hotC"/>
        </div>
        <div id="list">            <!--互动榜单-->
            <div class="swiper-container swiper-container2" qj-effect="smallToBigGo">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/hainanjdr/list1.png" class="list list1 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/hainanjdr/list3.png" class="list list3 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/hainanjdr/list2.png" class="list list2 stop-close"/></div>
                </div>
            </div>
            <img src="../../assets/hainanjdr/arrow-r.png" qj-effect="flash stop-close animation-iteration-infinite animation-duration20" class="list-arrow"/>
            <img src="../../assets/hainanjdr/listC.png" qj-effect="slideInDownAndBack" class="listC"/>
        </div>
    </div>
</div>
</body>
</html>
