<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>吴通集团</title>
    <script>
        var docEle = document.documentElement;
        var eDiv = document.createElement('div');
        eDiv.innerHTML = '请竖屏查看';
        eDiv.className = 'landscape';
        eDiv.style.display = 'none';
        docEle.appendChild(eDiv);
        var timer = null;
        fn = function() {
            timer = setTimeout(function(){          //加延迟0.1s不然在android下获取到的宽高是旋转屏幕之前的宽高
                var width = docEle.clientWidth;
                var height = docEle.clientHeight;
//                alert(width+'--'+height)
                if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){         //移动端设备
                    if(width > height){             //宽度大于高度，说明是横屏
//                        eDiv.style.display = 'block';
                    }else{                          //竖屏
//                        eDiv.style.display = 'none';
                    }
                }
                if( width < 320 ) {
                    docEle.style.fontSize = 42.6667 + "px";//
                }
                else if( width > 750 ) {
                    docEle.style.fontSize = 100 + "px";
                }
                else {
                    //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                    docEle.style.fontSize = 100 * (width / 750) + "px";
                }
            },100);
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div id="loading" class="loading-black" hidden>
        <img src="../../assets/common/logo-black.png" class="pre-logo"/>
        <div class="cow">
            <img src="../../assets/common/circle-black.png" class="pre-circle eye-rotate"/>
            <img src="../../assets/common/head.png" class="pre-head"/>
            <img src="../../assets/common/eye.png" class="pre-eye-left eye-rotate"/>
            <img src="../../assets/common/eye.png" class="pre-eye-right eye-rotate"/>
        </div>
        <div id="progress"><i class="progress-white"></i></div>
    </div>
    <a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;"></a>
    <audio id="bgMusic" loop="loop" autoplay="autoplay">
        <source src="music.mp3" type="audio/mpeg">
    </audio>
    <!--指示箭头-->
    <section class="u-arrow-bottom">
        <div class="pre-wrap">
            <div class="pre-box1">
                <div class="pre1"></div>
            </div>
            <div class="pre-box2">
                <div class="pre2"></div>
            </div>
        </div>
    </section>
    <div id="wxTitle" hidden>吴通集团 未来有你更有动力！</div>
    <div id="wxDesc" hidden>吴通集团吴通集团吴通集团吴通集团</div>
    <img src="../../assets/wtjt/fx.png" hidden/>
    <div id="qj">
        <div class="section">
            <img src="../../assets/wtjt/bg1.png" qj-effect="" class="bg1" />
            <img src="../../assets/wtjt/img11.png" qj-effect="fadeIn animation-delay20" class="img11" />
            <img src="../../assets/wtjt/img12.png" qj-effect="fadeIn animation-duration20 animation-delay10" class="img12" />
            <img src="../../assets/wtjt/img13.png" qj-effect="flash animation-duration15 animation-delay20" class="img13" />
            <img src="../../assets/wtjt/img14.png" qj-effect="fadeIn animation-duration20 animation-delay30" class="img14" />
            <img src="../../assets/wtjt/img15.png" qj-effect="fadeUpAndDown animation-duration200 animation-delay20" class="img15" />
            <img src="../../assets/wtjt/img16.png" qj-effect="fadeInUp animation-duration20" class="img16" />
            <img src="../../assets/wtjt/img17.png" qj-effect="doubleFlash animation-duration20" class="img17" />
            <img src="../../assets/wtjt/img18.png" qj-effect="doubleFlash animation-duration20" class="img18" />
            <img src="../../assets/wtjt/img19.png" qj-effect="" class="img19" />
            <!--<div class="shade-div11" qj-effect="slideOutDown animation-duration50"></div>-->
        </div>
        <div class="section active">
            <img src="../../assets/wtjt/bg2.png" qj-effect="" class="bg2" />
            <img src="../../assets/wtjt/img21.png" qj-effect="rotateInDownLeft animation-duration20 animation-delay10" class="img21" />
            <img src="../../assets/wtjt/img22.png" qj-effect="rotateInDownRight animation-duration20 animation-delay10" class="img22" />
            <img src="../../assets/wtjt/img23.png" qj-effect="smallToBig animation-duration15" class="img23" />
            <img src="../../assets/wtjt/img24.png" qj-effect="smallToBig animation-duration15 animation-delay10" class="img24" />
            <img src="../../assets/wtjt/img25.png" qj-effect="fadeInLeft animation-duration20 animation-delay20" class="img25" />
            <img src="../../assets/wtjt/img26.png" qj-effect="fadeInRight animation-duration20 animation-delay20" class="img26" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration20 animation-iteration-infinite animation-delay15" class="img27" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration20 animation-iteration-infinite animation-delay25" class="img27" />
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg3.png" qj-effect="" class="bg3" />
            <img src="../../assets/wtjt/img31.png" qj-effect="" class="img31" />
            <img src="../../assets/wtjt/img32.png" qj-effect="doubleFlash animation-duration15 animation-delay5" class="img32" />
            <img src="../../assets/wtjt/img33.png" qj-effect="flipInX180 animation-duration15 animation-delay10" class="img33" />
            <img src="../../assets/wtjt/img34.png" qj-effect="flipInX180 animation-duration15 animation-delay20" class="img34" />
            <img src="../../assets/wtjt/img35.png" qj-effect="fadeInLeft animation-duration20 animation-delay15" class="img35" />
            <img src="../../assets/wtjt/img36.png" qj-effect="fadeIn animation-duration15 animation-delay20" class="img36" />
            <img src="../../assets/wtjt/img37.png" qj-effect="fadeIn animation-duration15  animation-delay20" class="img37" />
            <img src="../../assets/wtjt/img23.png" qj-effect="smallToBig animation-duration30 animation-delay20" class="img38" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration30 animation-iteration-infinite animation-delay25" class="img39" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration30 animation-iteration-infinite animation-delay40" class="img39" />
            <div class="shade-div31" qj-effect="changeWToZero animation-duration5"></div>
        </div>
        <div class="section">
            <!-- Swiper1 -->
            <div class="swiper-container1" style="opacity: 0"qj-effect="fadeIn animation-delay20">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/img15.png" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                </div>
            </div>
            <!-- Swiper2 -->
            <div class="swiper-container2 swiper-no-swiping" style="opacity: 0"qj-effect="fadeIn animation-delay20">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/img15.png" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function(){
        var swiper1 = new Swiper('.swiper-container1', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: '3',
            coverflow: {
                rotate: 10,
                stretch: 10,
                depth: 1000,
                modifier: 1,
                slideShadows : true
            }
        });
        var swiper2 = new Swiper('.swiper-container2', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: '3',
            coverflow: {
                rotate: 10,
                stretch: 10,
                depth: 1000,
                modifier: 1,
                slideShadows : true
            }
        });
        swiper1.params.control = swiper2;//需要在Swiper2初始化后，Swiper1控制Swiper2
//        swiper2.params.control = swiper1;//需要在Swiper1初始化后，Swiper2控制Swiper1
    })
</script>
</html>
