@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/animate/_fade";
@import "../../lib/sass/animate/_bounce";
@import "../../lib/sass/animate/_slide";
@import "../../lib/sass/animate/_rotate";
@import "../../lib/sass/animate/_flip";
@import "../../lib/sass/animate/_special";
@import "../../lib/sass/animate/_attention-seekers";
@import "../../lib/sass/animate/_zoom";
@import "../../lib/sass/animate/_lightspeed";
@import "../../lib/sass/animate/_tiny";
@import "../../lib/sass/animate/_tiny-flash";
@import "../../lib/css/swiper.min.css";
@import "../../lib/css/jquery.fullPage.css";
@import "../../lib/css/common";

.section{
  background-color: #000000;
}
%img-all{
  position: absolute;
  @include opacity(0);
}
/*.bg1{
  background: url(../../assets/wtjt/bg1.png);
  background-size: 100% 100%;
}*/
.bg1{
  @extend %img-all;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:99;
  @include opacity(100);
}
.img11{
  @extend %img-all;
  width:100%;
  height:4.09rem;
  top:0.34rem;
  left:0;
  z-index:99;
}
.img12{
  @extend %img-all;
  width:4.71rem;
  height:2.55rem;
  top:1.66rem;
  left:1.4rem;
  z-index:102;
}
.img19{
  @extend %img-all;
  width:4.71rem;
  height:2.27rem;
  top:1.64rem;
  left:1.4rem;
  z-index:99;
  @include opacity(100);
}
.img13{
  @extend %img-all;
  width:4.53rem;
  height:7.67rem;
  top:4.1rem;
  left:1.42rem;
  z-index:101;
}
.img14{
  @extend %img-all;
  width:2.72rem;
  height:5.85rem;
  top:5.78rem;
  left:2.4rem;
  z-index:102;
}
.img15{
  @extend %img-all;
  width:4.41rem;
  height:3.33rem;
  top:6.5rem;
  left:1.34rem;
  z-index:101;
}
.img16{
  @extend %img-all;
  width:100%;
  height:1.95rem;
  bottom:0;
  left:0;
  z-index:99;
}
.img17{
  @extend %img-all;
  width:1.26rem;
  height:0.87rem;
  top:1.2rem;
  left:0;
  z-index:99;
}

.img18{
  @extend %img-all;
  width:1.25rem;
  height:0.48rem;
  top:3.36rem;
  right:0;
  z-index:99;
}

.bg2{
  @extend %img-all;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1;
  @include opacity(100);
}
.img21{
  @extend %img-all;
  width:2.57rem;
  height:3.09rem;
  top:2.0rem;
  left:1.18rem;
  z-index:100;
}
.img22{
  @extend %img-all;
  width:2.56rem;
  height:2.67rem;
  top:2.10rem;
  right:0.92rem;
  z-index:100;
}
.img23{
  @extend %img-all;
  width:3.85rem;
  height:3.85rem;
  top:4.2rem;
  left:50%;
  margin-left:-1.92rem;
  z-index:99;
}
.img24{
  @extend %img-all;
  width:2.55rem;
  height:1.12rem;
  top:6.24rem;
  left:50%;
  margin-left:-1.27rem;
  z-index:99;
}
.img25{
  @extend %img-all;
  width:0.76rem;
  height:2.03rem;
  top:9.0rem;
  left:0;
  z-index:99;
}
.img26{
  @extend %img-all;
  width:5.54rem;
  height:2.04rem;
  top:9.0rem;
  left:0.96rem;
  z-index:99;
}
.img27{
  @extend %img-all;
  width:5.11rem;
  height:5.11rem;
  top:3.56rem;
  left:50%;
  margin-left:-2.55rem;
  z-index:98;
}

.bg3{
  @extend %img-all;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1;
  @include opacity(100);
}
.img31{
  @extend %img-all;
  width:1.68rem;
  height:.67rem;
  top:1.02rem;
  right:0;
  z-index:9;
  @include opacity(100);
}
.img32{
  @extend %img-all;
  width:3.44rem;
  height:1.58rem;
  top:.78rem;
  right:1.62rem;
  z-index:99;
}
.img33{
  @extend %img-all;
  width:6.46rem;
  height:5.98rem;
  top:2.3rem;
  left:0.42rem;
  z-index:99;
}
.img34{
  @extend %img-all;
  width:2.28rem;
  height:2.75rem;
  top:7.7rem;
  right:.36rem;
  z-index:99;
}
.img35{
  @extend %img-all;
  width:3.52rem;
  height:.98rem;
  top:3.32rem;
  left:.8rem;
  z-index:99;
}
.img36{
  @extend %img-all;
  width:4.38rem;
  height:7rem;
  top:.84rem;
  right:.36rem;
  z-index:99;
}
.img37{
  @extend %img-all;
  width:4.28rem;
  height:3.75rem;
  top:8rem;
  left:0.04rem;
  z-index:99;
}
.img38{
  @extend %img-all;
  width:2.14rem;
  height:2.14rem;
  top:9.36rem;
  left:1.06rem;
  z-index:99;
}
.img39{
  @extend %img-all;
  width:2.86rem;
  height:2.86rem;
  top:9.0rem;
  left:.7rem;
  z-index:98;
}
.shade-div31{
  position: absolute;
  width:1.68rem;
  height:.67rem;
  top:1.02rem;
  right:0;
  background-color: #090916;
  //background-color: #FF0000;
  z-index:10;
}



@include animate-fadeInUp();        //Ω•»Î
@include animate-fadeIn();        //Ω•»Î
@include animate-fadeInLeft();        //Ω•»Î
@include animate-fadeInRight();        //Ω•»Î
@include animate-flash();        //…¡À∏
@include animate-doubleFlash();        //…¡À∏
@include animate-smallToBig();        //…¡À∏
@include animate-fadeUpAndDown();        //…¡À∏
@include animate-slideOutDown();        //…¡À∏
@include animate-rotateInDownRight();        //…¡À∏
@include animate-rotateInDownLeft();        //…¡À∏
@include animate-smallToBig();        //…¡À∏
@include animate-hiddenAndShow();        //»Ù“˛»Ùœ÷
@include animate-hiddenAndShowBig();        //»Ù“˛»Ùœ÷
@include animate-changeWToZero();        //»Ù“˛»Ùœ÷
@include animate-flipInX180();        //180∂»’€µ˛∑≠œ¬¥¯ºı’–ßπ˚

.flash,.hiddenAndShow,.hiddenAndShowBig,.changeWToZero{
  @include animation-timing-function(linear);
}

