<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>吴通控股 连接有我沟通无限</title>
    <script>
        var docEle = document.documentElement;
        var eDiv = document.createElement('div');
        eDiv.innerHTML = '请竖屏查看';
        eDiv.className = 'landscape';
        eDiv.style.display = 'none';
        docEle.appendChild(eDiv);
        var timer = null;
        fn = function() {
            timer = setTimeout(function(){          //加延迟0.1s不然在android下获取到的宽高是旋转屏幕之前的宽高
                var width = docEle.clientWidth;
                var height = docEle.clientHeight;
//                alert(width+'--'+height)
                if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){         //移动端设备
                    if(width > height){             //宽度大于高度，说明是横屏
//                        eDiv.style.display = 'block';
                    }else{                          //竖屏
//                        eDiv.style.display = 'none';
                    }
                }
                if( width < 320 ) {
                    docEle.style.fontSize = 42.6667 + "px";//
                }
                else if( width > 750 ) {
                    docEle.style.fontSize = 100 + "px";
                }
                else {
                    //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                    docEle.style.fontSize = 100 * (width / 750) + "px";
                }
            },100);
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div id="loading" class="loading-black" style="background-color: #0b0928;">
        <img src="../../assets/common/logo-black.png" class="pre-logo" style="top: 4.8rem;"/>
       <!-- <div class="cow">
            <img src="../../assets/common/circle-black.png" class="pre-circle eye-rotate"/>
            <img src="../../assets/common/head.png" class="pre-head"/>
            <img src="../../assets/common/eye.png" class="pre-eye-left eye-rotate"/>
            <img src="../../assets/common/eye.png" class="pre-eye-right eye-rotate"/>
        </div>-->
        <div id="progress" style="top: 5.6rem;"><i class="progress-white"></i></div>
    </div>
    <a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;"></a>
    <audio id="bgMusic" loop="loop" autoplay="autoplay">
        <source src="music.mp3" type="audio/mpeg">
    </audio>
    <!--指示箭头-->
    <section class="u-arrow-bottom">
        <div class="pre-wrap">
            <div class="pre-box1">
                <div class="pre1"></div>
            </div>
            <div class="pre-box2">
                <div class="pre2"></div>
            </div>
        </div>
    </section>
    <div id="wxTitle" hidden>吴通控股 连接有我沟通无限</div>
    <div id="wxDesc" hidden>2016年营业收入19.82亿元，同比增长32.07%，净利润1.68亿元。</div>
    <img src="../../assets/wtjt/fx.jpg" hidden/>
    <div id="qj">
        <div class="section">
            <img src="../../assets/wtjt/bg1.png" qj-effect="" class="bg1" />
            <img src="../../assets/wtjt/img111.png" qj-effect="showImg111 animation-duration15" class="img111" />
            <img src="../../assets/wtjt/img112.png" qj-effect="showImg112 animation-duration15" class="img112" />
            <img src="../../assets/wtjt/img12.png" qj-effect="tripleFlash animation-duration20 animation-delay15" class="img12" />
            <img src="../../assets/wtjt/img13.png" qj-effect="flashFormNone  animation-iteration-infinite animation-duration70 animation-delay30" class="img13" />
            <img src="../../assets/wtjt/img14.png" qj-effect="fadeIn animation-duration70 animation-delay20" class="img14" />
            <img src="../../assets/wtjt/img15.png" qj-effect="fadeIn animation-delay30" class="img15" />
            <img src="../../assets/wtjt/img16.png" qj-effect="fadeInUp animation-duration20" class="img16" />
            <img src="../../assets/wtjt/img19.png" qj-effect="" class="img19" />
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg2.png" qj-effect="" class="bg2" />
            <img src="../../assets/wtjt/img21.png" qj-effect="rotateInDownLeft animation-duration10 animation-delay10" class="img21" />
            <img src="../../assets/wtjt/img22.png" qj-effect="rotateInDownRight animation-duration10 animation-delay10" class="img22" />
            <img src="../../assets/wtjt/img23.png" qj-effect="smallToBigGo animation-duration15" class="img23" />
            <img src="../../assets/wtjt/img24.png" qj-effect="smallToBig animation-duration15 animation-delay10" class="img24" />
            <img src="../../assets/wtjt/img25.png" qj-effect="fadeInLeft animation-duration20 animation-delay10" class="img25" />
            <img src="../../assets/wtjt/img26.png" qj-effect="fadeInRight animation-duration20 animation-delay10" class="img26" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration20 animation-iteration-infinite animation-delay5" class="img27" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration20 animation-iteration-infinite animation-delay15" class="img27" />
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg3.png" qj-effect="" class="bg3" />
            <img src="../../assets/wtjt/img31.png" qj-effect="" class="img31" />
            <img src="../../assets/wtjt/img32.png" qj-effect="doubleFlash animation-duration15 animation-delay5" class="img32" />
            <img src="../../assets/wtjt/img33.png" qj-effect="flipInX180 animation-duration15 animation-delay10" class="img33" />
            <img src="../../assets/wtjt/img34.png" qj-effect="flipInX180 animation-duration15 animation-delay20" class="img34" />
            <img src="../../assets/wtjt/img35.png" qj-effect="fadeInLeft animation-duration20 animation-delay15" class="img35" />
            <img src="../../assets/wtjt/img36.png" qj-effect="fadeIn animation-duration15 animation-delay20" class="img36" />
            <img src="../../assets/wtjt/img37.png" qj-effect="fadeIn animation-duration15  animation-delay20" class="img37" />
            <img src="../../assets/wtjt/img23.png" qj-effect="smallToBigGo animation-duration15 animation-delay10" class="img38" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration30 animation-iteration-infinite animation-delay15" class="img39" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration30 animation-iteration-infinite animation-delay30" class="img39" />
            <div class="shade-div31" qj-effect="changeWToZero animation-duration5"></div>
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg4.png" qj-effect="" class="bg4" />
            <img src="../../assets/wtjt/img41.png" qj-effect="fadeIn animation-duration30" class="img41" />
            <img src="../../assets/wtjt/img42.png" qj-effect="rotateLoopL animation-duration400 animation-delay10" class="img42" />
            <img src="../../assets/wtjt/img43.png" qj-effect="rotateLoopRF animation-duration400 animation-delay10" class="img43" />
            <img src="../../assets/wtjt/img44.png" qj-effect="rotateLoopL animation-duration400 animation-delay10" class="img44" />
            <img src="../../assets/wtjt/img45.png" qj-effect="smallToBig animation-duration10" class="img45" />
            <img src="../../assets/wtjt/img46.png" qj-effect="fadeIn animation-duration30" class="img46" />
            <img src="../../assets/wtjt/finger.png" qj-effect="fingerSlide animation-delay20" class="img47" />
            <!-- Swiper1 -->
            <div class="swiper-container1" qj-effect="bounceIn animation-delay10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/wtjt/pro1.png" class="pro1"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/pro2.png" class="pro2"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/pro3.png" class="pro3"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/pro4.png" class="pro4"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/pro5.png" class="pro5"/></div>
                </div>
            </div>
            <!-- Swiper2 -->
            <div class="swiper-container2 swiper-no-swiping" qj-effect="fadeInDown animation-delay10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/wtjt/intr1.png" class="intr1"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/intr2.png" class="intr2"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/intr3.png" class="intr3"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/intr4.png" class="intr4"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/intr5.png" class="intr5"/></div>
                </div>
            </div>
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg5.png" qj-effect="fadeIn animation-delay10" class="bg5" />
            <img src="../../assets/wtjt/img51.png" qj-effect="fadeInUp animation-duration15 animation-delay15" class="img51" />
            <img src="../../assets/wtjt/img52.png" qj-effect="fadeInUp animation-duration15 animation-delay10" class="img52" />
            <img src="../../assets/wtjt/img53.png" qj-effect="fadeIn animation-duration10 animation-delay5" class="img53" />
            <img src="../../assets/wtjt/img54.png" qj-effect="flash animation-duration20 animation-delay35 animation-iteration-infinite" class="img54" />
            <img src="../../assets/wtjt/img54.png" qj-effect="flash animation-duration20 animation-delay35 animation-iteration-infinite" class="img542" />
            <img src="../../assets/wtjt/img55.png" qj-effect="fadeInUp animation-duration20 animation-delay20" class="img55" />
            <img src="../../assets/wtjt/img56.png" qj-effect="" class="img56" />
            <img src="../../assets/wtjt/img57.png" qj-effect="fastFlashAndShow animation-duration20  animation-delay15" class="img57" />
            <div class="shade-div51" qj-effect="changeHToZero animation-duration5"></div>
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg5.png" qj-effect="fadeIn animation-delay10" class="bg6" />
            <img src="../../assets/wtjt/img61.png" qj-effect="fadeInDown animation-duration15 animation-delay15" class="img61" />
            <img src="../../assets/wtjt/img62.png" qj-effect="fadeInDown animation-duration15 animation-delay10" class="img62" />
            <img src="../../assets/wtjt/img63.png" qj-effect="fadeIn animation-duration10 animation-delay5" class="img63" />
            <img src="../../assets/wtjt/img64.png" qj-effect="fadeIn animation-duration15 animation-delay20" class="img64" />
            <img src="../../assets/wtjt/img65.png" qj-effect="slideInDownAndBack animation-duration15 animation-delay15" class="img65" />
            <img src="../../assets/wtjt/img56.png" qj-effect="" class="img66" />
            <img src="../../assets/wtjt/img57.png" qj-effect="fastFlashAndShow animation-duration20  animation-delay15" class="img67" />
            <div class="shade-div61" qj-effect="changeHToZero animation-duration5"></div>
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg7.png" qj-effect="fadeIn animation-delay5" class="bg7" />
            <img src="../../assets/wtjt/img71.png" qj-effect="" class="img71" />
            <img src="../../assets/wtjt/img72.png" qj-effect="doubleFlash animation-duration15 animation-delay5" class="img72" />
            <img src="../../assets/wtjt/img73.png" qj-effect="flipInX180 animation-duration15 animation-delay10" class="img73" />
            <img src="../../assets/wtjt/img74.png" qj-effect="fadeIn animation-duration15 animation-delay20" class="img74" />
            <img src="../../assets/wtjt/img75.png" qj-effect="fadeIn animation-duration15 animation-delay20" class="img77" />
            <img src="../../assets/wtjt/img23.png" qj-effect="smallToBigGo animation-duration15 animation-delay10" class="img75" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration30 animation-iteration-infinite animation-delay15" class="img76" />
            <img src="../../assets/wtjt/img27.png" qj-effect="hiddenAndShow animation-duration30 animation-iteration-infinite animation-delay30" class="img76" />
            <div class="shade-div71" qj-effect="changeWToZeroL animation-duration5"></div>
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg8.png" qj-effect="" class="bg8" />
            <img src="../../assets/wtjt/img81.png" qj-effect="fadeInDown animation-duration20 animation-delay5" class="img81" />
            <img src="../../assets/wtjt/img82.png" qj-effect="bigPulse animation-duration8 animation-delay5" class="img82" />
            <img src="../../assets/wtjt/img83.png" qj-effect="bigPulse animation-duration8 animation-delay10" class="img83" />
            <img src="../../assets/wtjt/img84.png" qj-effect="fadeIn animation-duration15 animation-delay10" class="img84" />
            <img src="../../assets/wtjt/img85.png" qj-effect="likeSpaceman animation-iteration-infinite animation-delay10" class="img85" />
            <img src="../../assets/wtjt/img86.png" qj-effect="cloudMove animation-iteration-infinite animation-delay20" class="img86" />
            <img src="../../assets/wtjt/img87.png" qj-effect="cloudMove animation-iteration-infinite animation-delay40" class="img87" />
            <img src="../../assets/wtjt/img88.png" qj-effect="cloudMove animation-iteration-infinite" class="img88" />
        </div>
        <div class="section">
            <img src="../../assets/wtjt/bg9.png" qj-effect="" class="bg9" />
            <img src="../../assets/wtjt/img91.png" qj-effect="fadeIn animation-duration15 animation-delay25" class="img91" />
            <img src="../../assets/wtjt/img92.png" qj-effect="bounceIn animation-duration10" class="img92" />
            <img src="../../assets/wtjt/img93.png" qj-effect="bounceIn animation-duration10 animation-delay5" class="img93" />
            <img src="../../assets/wtjt/img94.png" qj-effect="doubleFlash animation-duration15 animation-delay10" class="img94" />
            <img src="../../assets/wtjt/img95.png" qj-effect="fadeInDown animation-duration10 animation-delay20" class="img95" />
            <img src="../../assets/wtjt/img96.png" qj-effect="fadeInDown animation-duration10 animation-delay25" class="img96" />
            <img src="../../assets/wtjt/img97.png" qj-effect="fadeInUp animation-duration10 animation-delay10" class="img97" />
            <img src="../../assets/wtjt/img98.png" qj-effect="rocketUp animation-duration80 animation-delay20 animation-iteration-infinite" class="img98" />
            <img src="../../assets/wtjt/img99.png" qj-effect="rocketUp animation-duration200 animation-delay20 animation-iteration-infinite" class="img99" />
        </div>
    </div>
</body>
</html>
