<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>吴通集团</title>
    <script>
        var docEle = document.documentElement;
        var eDiv = document.createElement('div');
        eDiv.innerHTML = '请竖屏查看';
        eDiv.className = 'landscape';
        eDiv.style.display = 'none';
        docEle.appendChild(eDiv);
        var timer = null;
        fn = function() {
            timer = setTimeout(function(){          //加延迟0.1s不然在android下获取到的宽高是旋转屏幕之前的宽高
                var width = docEle.clientWidth;
                var height = docEle.clientHeight;
//                alert(width+'--'+height)
                if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){         //移动端设备
                    if(width > height){             //宽度大于高度，说明是横屏
//                        eDiv.style.display = 'block';
                    }else{                          //竖屏
//                        eDiv.style.display = 'none';
                    }
                }
                if( width < 320 ) {
                    docEle.style.fontSize = 42.6667 + "px";//
                }
                else if( width > 750 ) {
                    docEle.style.fontSize = 100 + "px";
                }
                else {
                    //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                    docEle.style.fontSize = 100 * (width / 750) + "px";
                }
            },100);
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div id="loading" class="loading-black" hidden>
        <img src="../../assets/common/logo-black.png" class="pre-logo"/>
        <div class="cow">
            <img src="../../assets/common/circle-black.png" class="pre-circle eye-rotate"/>
            <img src="../../assets/common/head.png" class="pre-head"/>
            <img src="../../assets/common/eye.png" class="pre-eye-left eye-rotate"/>
            <img src="../../assets/common/eye.png" class="pre-eye-right eye-rotate"/>
        </div>
        <div id="progress"><i class="progress-white"></i></div>
    </div>
    <a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;"></a>
    <audio id="bgMusic" loop="loop" autoplay="autoplay">
        <source src="music.mp3" type="audio/mpeg">
    </audio>
    <!--指示箭头-->
    <section class="u-arrow-bottom">
        <div class="pre-wrap">
            <div class="pre-box1">
                <div class="pre1"></div>
            </div>
            <div class="pre-box2">
                <div class="pre2"></div>
            </div>
        </div>
    </section>
    <div id="wxTitle" hidden>吴通集团 未来有你更有动力！</div>
    <div id="wxDesc" hidden>吴通集团吴通集团吴通集团吴通集团</div>
    <img src="../../assets/wtjt/fx.png" hidden/>
    <div id="qj">
        <div class="section">
            <img src="../../assets/wtjt/bg1.png" qj-effect="" class="bg1" />
            <img src="../../assets/wtjt/img11.png" qj-effect="fadeIn animation-delay20" class="img11" />
            <img src="../../assets/wtjt/img12.png" qj-effect="fadeIn animation-duration20 animation-delay10" class="img12" />
            <img src="../../assets/wtjt/img13.png" qj-effect="flash animation-duration15 animation-delay20" class="img13" />
            <img src="../../assets/wtjt/img14.png" qj-effect="fadeIn animation-duration20 animation-delay30" class="img14" />
            <img src="../../assets/wtjt/img15.png" qj-effect="fadeUpAndDown animation-duration200 animation-delay20" class="img15" />
            <img src="../../assets/wtjt/img16.png" qj-effect="fadeInUp animation-duration20" class="img16" />
            <img src="../../assets/wtjt/img17.png" qj-effect="doubleFlash animation-duration20" class="img17" />
            <img src="../../assets/wtjt/img18.png" qj-effect="doubleFlash animation-duration20" class="img18" />
            <img src="../../assets/wtjt/img19.png" qj-effect="" class="img19" />
            <!--<div class="shade-div11" qj-effect="slideOutDown animation-duration50"></div>-->
        </div>
        <div class="section">
            <img src="../../assets/wtjt/img11.png" qj-effect="fadeIn animation-delay20" class="img11" />
            <img src="../../assets/wtjt/img12.png" qj-effect="fadeIn animation-duration20 animation-delay10" class="img12" />
            <img src="../../assets/wtjt/img15.png" qj-effect="fadeUpAndDown animation-duration200 animation-delay20" class="img15" />
            <img src="../../assets/wtjt/img16.png" qj-effect="fadeInUp animation-duration20" class="img16" />
            <img src="../../assets/wtjt/img17.png" qj-effect="doubleFlash animation-duration20" class="img17" />
            <img src="../../assets/wtjt/img18.png" qj-effect="doubleFlash animation-duration20" class="img18" />
            <img src="../../assets/wtjt/img19.png" qj-effect="" class="img19" />
            <!-- Swiper -->
            <div class="swiper-container" style="opacity: 0"qj-effect="fadeIn animation-delay20">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                    <div class="swiper-slide"><img src="../../assets/wtjt/1.jpg" style="width:3rem;"/></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function(){
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: '3',
//            loop:true,
            coverflow: {
                rotate: 10,
                stretch: 10,
                depth: 1000,
                modifier: 1,
                slideShadows : true
            },
            onSlideChangeEnd: function(swiper){
                alert(swiper.activeIndex) //切换结束时，告诉我现在是第几个slide
            }
        });
    })
</script>
</html>
