@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/animate/_fade";
@import "../../lib/sass/animate/_bounce";
@import "../../lib/sass/animate/_slide";
@import "../../lib/sass/animate/_rotate";
@import "../../lib/sass/animate/_flip";
@import "../../lib/sass/animate/_special";
@import "../../lib/sass/animate/_attention-seekers";
@import "../../lib/sass/animate/_zoom";
@import "../../lib/sass/animate/_lightspeed";
@import "../../lib/sass/animate/_tiny";
@import "../../lib/sass/animate/_tiny-flash";
@import "../../lib/css/jquery.fullPage.css";
@import "../../lib/css/swiper.min.css";
@import "../../lib/css/common";

%img-all{
  position: absolute;
  @include opacity(0);
  @include opacity(100);
}
.filter-blur{     //图片模糊效果
  @include filter-blur(4px)
}
.bg1{
  @extend %img-all;
  width:100%;
  height:100%;
  top:0;
  left:0;
  @include opacity(100);
  @include filter-blur(0);
  @include transition(filter 0.5s)
}

.test{
  font-size:20px;
  .div1{
    display: none;
  }
  &:hover .div1{
    display: block;
  }
}

// rotateLoopR     一直顺时针360度缓慢旋转
@mixin animate-rotateLoopR () {
  @include keyframes(rotateLoopR){
    0% {
      @include rotate(-360deg);
    }
    100% {
      @include rotate(0);
    }
  }
  .rotateLoopR {
    @include animation-name(rotateLoopR);
    @extend %animated;
    @include animation-iteration-count(infinite);
    //@include animation-duration(20s);
    @include animation-timing-function(linear);
  }
}

@include animate-rotateLoopR();

.slideUpDown,.slideUpDownInverse,.slideLeftRight,.slideLeftRightInverse {
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include animation-duration(2.4s);
}