@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/animate/_fade";
@import "../../lib/sass/animate/_bounce";
@import "../../lib/sass/animate/_slide";
@import "../../lib/sass/animate/_rotate";
@import "../../lib/sass/animate/_flip";
@import "../../lib/sass/animate/_special";
@import "../../lib/sass/animate/_attention-seekers";
@import "../../lib/sass/animate/_zoom";
@import "../../lib/sass/animate/_lightspeed";
@import "../../lib/sass/animate/_tiny";
@import "../../lib/sass/animate/_tiny-flash";
@import "../../lib/css/jquery.fullPage.css";
@import "../../lib/css/swiper.min.css";
@import "../../lib/css/common";
// 640宽的图片转出750宽的图片
@function fit($rem) {
  @return ($rem * 750 / 1334) * 1rem;
}
%img-all{
  position: absolute;
  //@include opacity(100);
}

.img11{
  @extend %img-all;
  width:fit(13.34);
  height:fit(6.21);
  top:0;
  left:0;
}
.img12{
  @extend %img-all;
  width:fit(11.93);
  height:fit(5.71);
  bottom:0;
  left:50%;
  margin-left:fit(-5.96);
}
.img13{
  @extend %img-all;
  width:fit(13.34);
  height:fit(5.24);
  bottom:0;
  left:0;
}
.img14{
  @extend %img-all;
  width:fit(12.14);
  height:fit(3.37);
  bottom:0;
  left:50%;
  margin-left:fit(-6.07);
}
.img15{
  @extend %img-all;
  width:fit(5.24);
  height:fit(4.06);
  top:fit(0.24);
  left:50%;
  margin-left:fit(-2.62);
}

// rotateLoopR     一直顺时针360度缓慢旋转
@mixin animate-rotateLoopR () {
  @include keyframes(rotateLoopR){
    0% {
      @include rotate(-360deg);
    }
    100% {
      @include rotate(0);
    }
  }
  .rotateLoopR {
    @include animation-name(rotateLoopR);
    @extend %animated;
    @include animation-iteration-count(infinite);
    //@include animation-duration(20s);
    @include animation-timing-function(linear);
  }
}

@include animate-rotateLoopR();

.slideUpDown,.slideUpDownInverse,.slideLeftRight,.slideLeftRightInverse {
  @include animation-timing-function(linear);
  @include animation-iteration-count(infinite);
  @include animation-duration(2.4s);
}