<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>大连集体接待日 有梦想 有未来 勇争弄海潮头</title>
    <script>
        /*//运动事件监听
        if (window.DeviceMotionEvent) {
            window.addEventListener('devicemotion',deviceMotionHandler,false);
        }
        //获取加速度信息
        //通过监听上一步获取到的x, y, z 值在一定时间范围内的变化率，进行设备是否有进行晃动的判断。
        //而为了防止正常移动的误判，需要给该变化率设置一个合适的临界值。
        var SHAKE_THRESHOLD = 4000;
        var last_update = 0;
        var speed = 30;//速度
        var x, y, z, last_x = 0, last_y = 0, last_z = 0;
        function deviceMotionHandler(eventData) {
            var acceleration =eventData.accelerationIncludingGravity;
            var curTime = new Date().getTime();
            if ((curTime-last_update)> 10) {
                var diffTime = curTime -last_update;
                last_update = curTime;
                x = acceleration.x;
                y = acceleration.y;
                z = acceleration.z;
                var speed = Math.abs(x +y + z - last_x - last_y - last_z) / diffTime * 10000;
                if (speed > SHAKE_THRESHOLD) {
                    alert("你中奖啦！");  // Do something
                }
                if(Math.abs(x-last_x) > speed || Math.abs(y-last_y) > speed || Math.abs(z-last_z) > speed) {
                    //简单的摇一摇触发代码
                    alert('触发了重力感应');
                }
                last_x = x;
                last_y = y;
                last_z = z;
            }
        }*/

        var docEle = document.documentElement;
        var eDiv = document.createElement('div');
        eDiv.innerHTML = '请竖屏查看';
        eDiv.className = 'landscape';
        eDiv.style.display = 'none';
        docEle.appendChild(eDiv);
        var timer = null;
        fn = function() {
            timer = setTimeout(function(){          //加延迟0.1s不然在android下获取到的宽高是旋转屏幕之前的宽高
                var width = docEle.clientWidth;
                var height = docEle.clientHeight;
//                alert(width+'--'+height)
                if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){         //移动端设备
                    if(width > height){             //宽度大于高度，说明是横屏
//                        eDiv.style.display = 'block';
                    }else{                          //竖屏
//                        eDiv.style.display = 'none';
                    }
                }
                if( width < 320 ) {
                    docEle.style.fontSize = 42.6667 + "px";//
                }
                else if( width > 1080 ) {
                    docEle.style.fontSize = 144 + "px";
                }
                else {
                    //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                    docEle.style.fontSize = 100 * (width / 750) + "px";
                }
            },100);
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div id="loading" class="loading-black" style="background-color: #0b0928;" >
    <img src="../../assets/common/logo-black.png" class="pre-logo" style="top: 4.8rem;"/>
    <!-- <div class="cow">
         <img src="../../assets/common/circle-black.png" class="pre-circle eye-rotate"/>
         <img src="../../assets/common/head.png" class="pre-head"/>
         <img src="../../assets/common/eye.png" class="pre-eye-left eye-rotate"/>
         <img src="../../assets/common/eye.png" class="pre-eye-right eye-rotate"/>
     </div>-->
    <div id="progress" style="top: 5.6rem;"><i class="progress-white"></i></div>
</div>
<a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;"></a>
<audio id="bgMusic" loop="loop" autoplay="autoplay">
    <source src="music.mp3" type="audio/mpeg">
</audio>

<div id="wxTitle" hidden>大连集体接待日 有梦想 有未来 勇争弄海潮头</div>
<div id="wxDesc" hidden>创业难，守业更难，高管的信心来源于投资者的信心。</div>
<img src="../../assets/dalianjdr/fx.jpg" hidden/>
<div id="qj">
    <div class="section">
        <img src="../../assets/dalianjdr/bg.png" qj-effect="" class="bg1"/>
        <img src="../../assets/dalianjdr/star.png"
             qj-effect="flashLikeStar animation-duration50 animation-delay5 animation-iteration-infinite" class="star star1"/>
        <img src="../../assets/dalianjdr/star.png"
             qj-effect="flashLikeStar animation-duration40 animation-delay15 animation-iteration-infinite" class="star star2"/>
        <img src="../../assets/dalianjdr/star.png"
             qj-effect="flashLikeStar animation-duration50 animation-delay25 animation-iteration-infinite" class="star star3"/>
        <img src="../../assets/dalianjdr/img1.png" qj-effect="slideInDown animation-duration10" class="img1 backface-v"/>
        <img src="../../assets/dalianjdr/img2.png" qj-effect="slideUpDown" class="img2"/>
        <img src="../../assets/dalianjdr/img3.png" qj-effect="slideUpDown" class="img3"/>
        <img src="../../assets/dalianjdr/img4.png" qj-effect="slideLeftRightInverse" class="img4" id="introduceOpen2"/>
        <img src="../../assets/dalianjdr/img5.png" qj-effect="slideLeftRightInverse" class="img5" id="introduceOpen1"/>
        <img src="../../assets/dalianjdr/img6.png" qj-effect="slideUpDown" class="img6"/>
        <img src="../../assets/dalianjdr/img7.png" qj-effect="slideUpDown" class="img7" id="topMgrOpen2"/>
        <img src="../../assets/dalianjdr/img8.png" qj-effect="slideUpDown" class="img8" id="topMgrOpen1"/>
        <img src="../../assets/dalianjdr/img9.png" qj-effect="slideLeftRightInverse" class="img9"/>
        <img src="../../assets/dalianjdr/img11.png" qj-effect="slideLeftRightInverse" class="img11" id="hotOpen1"/>
        <img src="../../assets/dalianjdr/img10.png" qj-effect="slideLeftRightInverse" class="img10" id="hotOpen3"/>
        <img src="../../assets/dalianjdr/img12.png" qj-effect="slideLeftRightInverse" class="img12" id="hotOpen2"/>
        <!--<img src="../../assets/dalianjdr/img13.png" qj-effect="slideLeftRightInverse" class="img13"/>-->
        <!--<img src="../../assets/dalianjdr/img14.png" qj-effect="slideLeftRight" class="img14"/>-->
        <img src="../../assets/dalianjdr/img15.png" qj-effect="slideLeftRight" class="img15"/>
        <img src="../../assets/dalianjdr/img16.png" qj-effect="slideUpDownInverse" class="img16" id="listOpen2"/>
        <img src="../../assets/dalianjdr/img17.png" qj-effect="slideUpDownInverse" class="img17" id="listOpen1"/>
        <img src="../../assets/dalianjdr/img18.png" qj-effect="slideUpDownInverse" class="img18" id="openReport1"/>
        <img src="../../assets/dalianjdr/img19.png" qj-effect="slideUpDownInverse" class="img19" id="openReport2"/>
        <img src="../../assets/dalianjdr/img20.png" qj-effect="" class="img20"/>
        <img src="../../assets/dalianjdr/img21.png" qj-effect="anchor animation-duration80 animation-iteration-infinite" class="img21"/>
        <div class="windCarDiv" qj-effect="slideInDown animation-delay2">
            <img src="../../assets/dalianjdr/windCar.png" qj-effect="rotateLoopR" class="windCar windCar1"/>
            <img src="../../assets/dalianjdr/windCar.png" qj-effect="rotateLoopR" class="windCar windCar2"/>
        </div>
        <div class="intrPersonDiv" qj-effect="slideLeftRightInverse" id="introduceOpen3">
            <h2 class="intrPerson" qj-effect="runIntrPerson"></h2>
        </div>
        <div class="listPersonDiv" qj-effect="slideUpDownInverse" id="listOpen3">
            <h2 class="listPerson" qj-effect="runListPerson"></h2>
        </div>
        <div class="topMgrPersonDiv" qj-effect="slideUpDown" id="topMgrOpen3">
            <h2 class="topMgrPerson" qj-effect="runTopMgrPerson"></h2>
        </div>
        <div class="mediaPersonDiv" qj-effect="slideUpDownInverse" id="openReport3">
            <h2 class="mediaPerson" qj-effect="runMediaPerson"></h2>
        </div>
    </div>
    <div class="shade" id="shade" hidden >
        <div id="introduce">            <!--活动介绍-->
            <img src="../../assets/dalianjdr/intr1.png" qj-effect="smallToBigGo" class="intr1 stop-close"/>
            <img src="../../assets/dalianjdr/intr2.png" qj-effect="smallToBigGo" class="intr2 stop-close"/>
            <img src="../../assets/dalianjdr/intr3.png" qj-effect="slideInDownAndBack" class="intr3"/>
        </div>
        <div id="topMgr">            <!--高管风采-->
            <div class="swiper-container swiper-container3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr1.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr2.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr3.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr4.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr5.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr6.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr7.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr8.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/topMgr9.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                </div>
            </div>
            <img src="../../assets/dalianjdr/topMgrC.png" qj-effect="slideInDown" class="topMgrC"/>
            <img src="../../assets/dalianjdr/arrow-r.png" qj-effect="flash stop-close animation-iteration-infinite animation-duration20" class="topMgr-arrow"/>
        </div>
        <div id="hot">            <!--互动热点-->
            <img src="../../assets/dalianjdr/hot1.png" qj-effect="slideInRight" class="hot1 stop-close"/>
            <img src="../../assets/dalianjdr/hot2.png" qj-effect="slideInRight animation-delay5" class="hot2 stop-close"/>
            <div class="qa" qj-effect="slideInRight animation-delay10" >
                <ol>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--1-->
                            <span class="content mb02">将来公司下属会有上市公司吗?</span>
                        </div>
                        <div class="company">
                            <span class="name">易世达：</span>
                            <span class="content">有梦想，有未来。。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--2-->
                            <span class="content mb02">您怎么看待光伏行业的竞争情况？</span>
                        </div>
                        <div class="company">
                            <span class="name">易世达：</span>
                            <span class="content">百舸争流，就看谁弄海潮头了。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--3-->
                            <span class="content mb02">请问，菱重冰山离心式制冷机组市场占有率是多少？</span>
                        </div>
                        <div class="company">
                            <span class="name">大冷股份</span>
                            <span class="content">目前不高，努力提升中。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--4-->
                            <span class="content mb02">公司股价逼近增发价，已低于公司增持价，公司是否有计划再次增持？</span>
                        </div>
                        <div class="company">
                            <span class="name">大冷股份</span>
                            <span class="content">公司可落地的良性成长，是向市场传递信心的最好抓手。 公司将通过积极的投资者关系管理活动，向市场有效传递。   </span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--5-->
                            <span class="content mb02">请问公司最近会有什么值得期待的利好消息吗？</span>
                        </div>
                        <div class="company">
                            <span class="name">大冷股份</span>
                            <span class="content">良性成长中的新大冷，发展成果快速体现中，值得您持续关注！</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--6-->
                            <span class="content mb02">近期公司股价表现不好，公司管理层怎么看？</span>
                        </div>
                        <div class="company">
                            <span class="name">獐子岛：</span>
                            <span class="content">股价不仅取决于公司的经营业绩和发展前景，还受到国际国内经济形势、市场买卖力量对比、投资者心理因素等诸多因素的影响。 但实力决定走势！公司会把龙头企业的作用，更全面的发挥！</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--7-->
                            <span class="content mb02">公司的持续良性发展是投资者投资信心的有力保证,愿公司的发展能为投资者带来良好的回报!请问公司领导对今年有信心吗？</span>
                        </div>
                        <div class="company">
                            <span class="name">中广核技</span>
                            <span class="content">谢谢您的关心和支持，我们对公司的发展有信心，本人身为我司的员工有较好的幸福感。 </span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--8-->
                            <span class="content mb02">公司目前最值钱的资产是什么？</span>
                        </div>
                        <div class="company">
                            <span class="name">大化B股</span>
                            <span class="content">公司最有价值的是人才，是与企业同甘共苦、共创未来的优秀员工。 </span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--9-->
                            <span class="content mb02">与陶氏化学, 英国索尔,德国朗盛,特洛伊等国际化工巨头相比，公司产品具有什么样的优势？</span>
                        </div>
                        <div class="company">
                            <span class="name">百傲化学</span>
                            <span class="content">公司产品质量与国外化工巨头相差无几，但产品成本、价格优势明显。 </span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--10-->
                            <span class="content mb02">合并后真要叫“中国神电”吗哈哈？</span>
                        </div>
                        <div class="company">
                            <span class="name">国电电力</span>
                            <span class="content">投资者您好！ 目前公司未接到关于合并的通知。公司将与国电集团保持沟通，及时披露应披露信息。 感谢您的提问！  </span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--11-->
                            <span class="content mb02">作为一名投资者，我很担心公司会破产？有这种风险吗？</span>
                        </div>
                        <div class="company">
                            <span class="name">*ST大控</span>
                            <span class="content">尊敬的投资者你好：公司目前生产经营正常，同时公司将在现有业务基础上寻求公司战略转型，最终实现公司健康持续发展。 </span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--12-->
                            <span class="content mb02">你们什么时候才能摆脱对政府补贴的依赖呢？</span>
                        </div>
                        <div class="company">
                            <span class="name">大连热电</span>
                            <span class="content">行业特点决定，“市场电、市场热、计划煤”的市场和定价机制短期内无法改变。 </span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--13-->
                            <span class="content mb02">“壳王”辛宇是否持有了你们的股份？</span>
                        </div>
                        <div class="company">
                            <span class="name">大连热电</span>
                            <span class="content">请遵从正规信披渠道，以正视听。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--14-->
                            <span class="content mb02">最近好多私募入驻，对你们有什么影响吗？</span>
                        </div>
                        <div class="company">
                            <span class="name">大连热电</span>
                            <span class="content">但愿门口来的不是”野蛮人“。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--15-->
                            <span class="content mb02">A股整体表现都不好，这种情况下公司如何才能保证投资者的信心?</span>
                        </div>
                        <div class="company">
                            <span class="name">恒力股份</span>
                            <span class="content">公司作为一家实体民用企业，公司将紧紧围绕产业链，通过外延式和内涵式的双轮驱动，提高公司的净利润。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--16-->
                            <span class="content mb02">公司在经营活动中主要对哪些环节进行控制？</span>
                        </div>
                        <div class="company">
                            <span class="name">圆通速递</span>
                            <span class="content">公司已经建立了全方位的信息系统对快件揽收、派送等全业务流程进行监控，确保每一票件的可视可控。 </span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>  <!--17-->
                            <span class="content mb02">预计今年是否还会继续亏损？</span>
                        </div>
                        <div class="company">
                            <span class="name">易世达：</span>
                            <span class="content">您的预计不是我们努力的方向</span>
                        </div>
                    </li>
                </ol>
            </div>
            <img src="../../assets/dalianjdr/hotC.png" qj-effect="slideInDown animation-delay15" class="hotC"/>
            <img src="../../assets/dalianjdr/arrow-r.png" qj-effect="flash stop-close animation-iteration-infinite animation-duration20" class="hot-arrow"/>
        </div>
        <div id="list">            <!--互动榜单-->
            <div class="swiper-container swiper-container2" qj-effect="smallToBigGo">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/list1.png" class="list list1 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/list2.png" class="list list2 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/dalianjdr/list3.png" class="list list3 stop-close"/></div>
                </div>
            </div>
            <img src="../../assets/dalianjdr/arrow-r.png" qj-effect="flash stop-close animation-iteration-infinite animation-duration20" class="list-arrow"/>
            <img src="../../assets/dalianjdr/listC.png" qj-effect="slideInDownAndBack" class="listC"/>
        </div>
    </div>
</div>
</body>
</html>
