<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>河南集体接待日 高管机智回答“最难回答的问题”</title>
    <script>
        var docEle = document.documentElement;
        var eDiv = document.createElement('div');
        eDiv.innerHTML = '请竖屏查看';
        eDiv.className = 'landscape';
        eDiv.style.display = 'none';
        docEle.appendChild(eDiv);
        var timer = null;
        fn = function() {
            timer = setTimeout(function(){          //加延迟0.1s不然在android下获取到的宽高是旋转屏幕之前的宽高
                var width = docEle.clientWidth;
                var height = docEle.clientHeight;
//                alert(width+'--'+height)
                if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){         //移动端设备
                    if(width > height){             //宽度大于高度，说明是横屏
//                        eDiv.style.display = 'block';
                    }else{                          //竖屏
//                        eDiv.style.display = 'none';
                    }
                }
                if( width < 320 ) {
                    docEle.style.fontSize = 42.6667 + "px";//
                }
                else if( width > 1080 ) {
                    docEle.style.fontSize = 144 + "px";
                }
                else {
                    //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                    docEle.style.fontSize = 100 * (width / 750) + "px";
                }
            },100);
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div id="loading" class="loading-black" style="background-color: #0b0928;" >
    <img src="../../assets/common/logo-black.png" class="pre-logo" style="top: 4.8rem;"/>
    <!-- <div class="cow">
         <img src="../../assets/common/circle-black.png" class="pre-circle eye-rotate"/>
         <img src="../../assets/common/head.png" class="pre-head"/>
         <img src="../../assets/common/eye.png" class="pre-eye-left eye-rotate"/>
         <img src="../../assets/common/eye.png" class="pre-eye-right eye-rotate"/>
     </div>-->
    <div id="progress" style="top: 5.6rem;"><i class="progress-white"></i></div>
</div>
<a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;"></a>
<audio id="bgMusic" loop="loop" autoplay="autoplay">
    <source src="music.mp3" type="audio/mpeg">
</audio>

<div id="wxTitle" hidden>河南集体接待日 高管机智回答“最难回答的问题”</div>
<div id="wxDesc" hidden>有董秘感慨市场太残酷，也有董秘直言投资者最近心情大概就像一首歌名《阴天》</div>
<img src="../../assets/henanjdr/fx.png" hidden/>
<div id="qj">
    <div class="section">
        <img src="../../assets/henanjdr/bg.png" qj-effect="" class="bg1"/>
        <img src="../../assets/henanjdr/img1.png" qj-effect="slideInDown animation-duration10" class="img1 backface-v"/>
        <img src="../../assets/henanjdr/img2.png" qj-effect="slideUpDown" class="img2"/>
        <img src="../../assets/henanjdr/img3.png" qj-effect="slideUpDown" class="img3"/>
        <img src="../../assets/henanjdr/img4.png" qj-effect="slideLeftRightInverse" class="img4" id="introduceOpen2"/>
        <img src="../../assets/henanjdr/img5.png" qj-effect="slideLeftRightInverse" class="img5" id="introduceOpen1"/>
        <img src="../../assets/henanjdr/img6.png" qj-effect="slideUpDown" class="img6"/>
        <img src="../../assets/henanjdr/img7.png" qj-effect="slideUpDown" class="img7" id="topMgrOpen2"/>
        <img src="../../assets/henanjdr/img8.png" qj-effect="slideUpDown" class="img8" id="topMgrOpen1"/>
        <img src="../../assets/henanjdr/img9.png" qj-effect="slideLeftRightInverse" class="img9"/>
        <img src="../../assets/henanjdr/img11.png" qj-effect="slideLeftRightInverse" class="img11" id="hotOpen1"/>
        <img src="../../assets/henanjdr/img10.png" qj-effect="slideLeftRightInverse" class="img10" id="hotOpen3"/>
        <img src="../../assets/henanjdr/img12.png" qj-effect="slideLeftRightInverse" class="img12" id="hotOpen2"/>
        <!--<img src="../../assets/henanjdr/img13.png" qj-effect="slideLeftRightInverse" class="img13"/>-->
        <img src="../../assets/henanjdr/img14.png" qj-effect="slideLeftRight" class="img14"/>
        <img src="../../assets/henanjdr/img15.png" qj-effect="slideLeftRight" class="img15"/>
        <img src="../../assets/henanjdr/img16.png" qj-effect="slideUpDownInverse" class="img16" id="listOpen2"/>
        <img src="../../assets/henanjdr/img17.png" qj-effect="slideUpDownInverse" class="img17" id="listOpen1"/>
        <img src="../../assets/henanjdr/img18.png" qj-effect="slideUpDownInverse" class="img18" id="openReport1"/>
        <img src="../../assets/henanjdr/img19.png" qj-effect="slideUpDownInverse" class="img19" id="openReport2"/>
        <img src="../../assets/henanjdr/img20.png" qj-effect="slideLeftRightInverse" class="img20"/>
        <div class="windCarDiv" qj-effect="slideInDown animation-delay2">
            <img src="../../assets/henanjdr/windCar.png" qj-effect="rotateLoopR" class="windCar windCar1"/>
            <img src="../../assets/henanjdr/windCar.png" qj-effect="rotateLoopR" class="windCar windCar2"/>
        </div>
        <div class="intrPersonDiv" qj-effect="slideLeftRightInverse" id="introduceOpen3">
            <h2 class="intrPerson" qj-effect="runIntrPerson"></h2>
        </div>
        <div class="listPersonDiv" qj-effect="slideUpDownInverse" id="listOpen3">
            <h2 class="listPerson" qj-effect="runListPerson"></h2>
        </div>
        <div class="topMgrPersonDiv" qj-effect="slideUpDown" id="topMgrOpen3">
            <h2 class="topMgrPerson" qj-effect="runTopMgrPerson"></h2>
        </div>
        <div class="mediaPersonDiv" qj-effect="slideUpDownInverse" id="openReport3">
            <h2 class="mediaPerson" qj-effect="runMediaPerson"></h2>
        </div>
    </div>
    <div class="shade" id="shade" hidden >
        <div id="introduce">            <!--活动介绍-->
            <img src="../../assets/henanjdr/intr1.png" qj-effect="smallToBigGo" class="intr1 stop-close"/>
            <img src="../../assets/henanjdr/intr2.png" qj-effect="smallToBigGo" class="intr2 stop-close"/>
            <img src="../../assets/henanjdr/intr3.png" qj-effect="slideInDownAndBack" class="intr3"/>
        </div>
        <div id="topMgr">            <!--高管风采-->
            <div class="swiper-container swiper-container3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr1.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr2.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr3.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr4.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr5.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr6.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr7.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr8.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr9.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr10.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr11.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr12.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr13.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr14.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr15.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr16.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr17.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr18.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr19.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/topMgr20.png" qj-effect="smallToBigGo" class="topMgr stop-close"/></div>
                </div>
            </div>
            <img src="../../assets/henanjdr/topMgrC.png" qj-effect="slideInDown" class="topMgrC"/>
            <img src="../../assets/henanjdr/arrow-r.png" qj-effect="flash stop-close animation-iteration-infinite animation-duration20" class="topMgr-arrow"/>
        </div>
        <div id="hot">            <!--互动热点-->
            <img src="../../assets/henanjdr/hot1.png" qj-effect="slideInRight" class="hot1 stop-close"/>
            <img src="../../assets/henanjdr/hot2.png" qj-effect="slideInRight animation-delay5" class="hot2 stop-close"/>
            <div class="qa" qj-effect="slideInRight animation-delay10" >
                <ol>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">对目前二级市场股价如何看待?能否反映贵公司的现有价值?</span>
                        </div>
                        <div class="company">
                            <span class="name">智度股份</span>
                            <span class="content">首先谢谢您的关注。您问了一个所有投资者都特别关心，而往往让董秘最难回答的一个问题。对于绝大部分二级市场投资者而言 ，最近的心情大概就像一首歌名《阴天》吧。作为董秘，我深深地觉得现在的股价没有体现公司的投资价值，欢迎您长期关注。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">公司能不能给点信心的答复呢?股价大幅下跌，如何给资者增加持股信心或继续投资?</span>
                        </div>
                        <div class="company">
                            <span class="name">多氟多：</span>
                            <span class="content">前几个月我们在平台有回答问题说公司国内无机氟化盐龙头企业，有投资者说因此买入损失惨重，回答问题也担当不起呀。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">希望老板能站出来维护一下股价，毕竟是上市公司，虽然二级市场有自身因素，但如果不管的话上市干嘛呢？</span>
                        </div>
                        <div class="company">
                            <span class="name">智度股份</span>
                            <span class="content">充分理解您的心情像阴天一样，但是老板也不能股价一跌出来维护啊。作为公司经营管理层，还是把业绩做好，放眼长远，希望 您也一样。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">4月份股价下跌的厉害呀，你们有什么办法阻止股价下跌？</span>
                        </div>
                        <div class="company">
                            <span class="name">多氟多：</span>
                            <span class="content">股价不是生产经营的内容，我们怎么去阻止股价呢。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">我就想问你们上市公司是怎么搞到这个代码的，真是666</span>
                        </div>
                        <div class="company">
                            <span class="name">平煤股份</span>
                            <span class="content">天意！谢谢！</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">今年业绩会不会因为IPP基金到位不足受到影响？</span>
                        </div>
                        <div class="company">
                            <span class="name">黄河旋风</span>
                            <span class="content">你怎么知道不足了，才6月份？!</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">关于股价跌跌不休，你们能给广大股民一个交代吗？</span>
                        </div>
                        <div class="company">
                            <span class="name">林州重机</span>
                            <span class="content">公司现在运营良好，从今年1月份截止5月底已签订单超过5亿元。这是本公司对广大股民的交代，同时本公司也希望可以得到广 大股民的支持。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">股价下跌，净利润为负，很影响我们股东的投资信心呀！</span>
                        </div>
                        <div class="company">
                            <span class="name">中原特钢</span>
                            <span class="content">真话，是啊，同感。这也不是我们想看到的，市场太残酷。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">国家“雄安大计”对公司发展有什么影响？公司将会制定怎样的发展战略来实现自我跨越？</span>
                        </div>
                        <div class="company">
                            <span class="name">智度股份</span>
                            <span class="content">没有，我们不蹭热点，谢谢。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">股价与业绩无关，你上市干嘛？</span>
                        </div>
                        <div class="company">
                            <span class="name">通达股份</span>
                            <span class="content">公司上市是为了更好地实现自身价值，更加规范地运营企业。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">明明业绩不错，股价创了1年新低，作为管理层难道不着急吗？</span>
                        </div>
                        <div class="company">
                            <span class="name">中原内配</span>
                            <span class="content">公司经营业绩持续稳定健康发展，股价在一定期间背离投资价值，相信是金子总会发光的，感谢您的关注。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">现在市场天天阴跌，增发会不会对公司股价不利？</span>
                        </div>
                        <div class="company">
                            <span class="name">轴研科技</span>
                            <span class="content">公司本次发行股份购买的资产为国机精工100%股权，该资产注入后，将会增强上市公司的盈利能力，改善上市公司的盈利状况。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">近期环保部强化督查揪出七成企业有问题 ，环保部6巡查组赴23城紧盯整改，公司的业务是否受到影响？公司怎么看待环保部的督 查行为？</span>
                        </div>
                        <div class="company">
                            <span class="name">中原环保</span>
                            <span class="content">环保督查对公司来说是既是挑战也是机遇，公司除了做好日常的生产经营外，面对机遇，公司积极完善主业经营全产业链，并在 生态绿化、水系治理、固废等相关产业开展适度多元化经营。</span>
                        </div>
                    </li>
                    <li>
                        <div class="investor">
                            <span class="name">投资者：</span>
                            <span class="content mb02">今年会得到哪些国家政策补贴？</span>
                        </div>
                        <div class="company">
                            <span class="name">远东传动</span>
                            <span class="content">政府补贴是非经常性的，公司无法进行有效预计。</span>
                        </div>
                    </li>
                </ol>
            </div>
            <img src="../../assets/henanjdr/hotC.png" qj-effect="slideInDown animation-delay15" class="hotC"/>
            <img src="../../assets/henanjdr/arrow-r.png" qj-effect="flash stop-close animation-iteration-infinite animation-duration20" class="hot-arrow"/>
        </div>
        <div id="list">            <!--互动榜单-->
            <div class="swiper-container swiper-container2" qj-effect="smallToBigGo">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../assets/henanjdr/list1.png" class="list list1 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/list3.png" class="list list3 stop-close"/></div>
                    <div class="swiper-slide"><img src="../../assets/henanjdr/list2.png" class="list list2 stop-close"/></div>
                </div>
            </div>
            <img src="../../assets/henanjdr/arrow-r.png" qj-effect="flash stop-close animation-iteration-infinite animation-duration20" class="list-arrow"/>
            <img src="../../assets/henanjdr/listC.png" qj-effect="slideInDownAndBack" class="listC"/>
        </div>
    </div>
</div>
</body>
</html>
