@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/animate/_fade";
@import "../../lib/sass/animate/_bounce";
@import "../../lib/sass/animate/_slide";
@import "../../lib/sass/animate/_rotate";
@import "../../lib/sass/animate/_flip";
@import "../../lib/sass/animate/_special";
@import "../../lib/sass/animate/_attention-seekers";
@import "../../lib/sass/animate/_lightspeed";
@import "../../lib/sass/animate/_tiny";
@import "../../lib/css/common";
// 640宽的图片转出750宽的图片
@function sixToSeven($rem) {
  @return ($rem * 750 / 640) * 1rem;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container{
  position: relative;
}
.img-main{
  width:100%;
  display: block;
}
.img-btn{
  position: absolute;
  bottom:5.64rem;
  left:50%;
  margin-left:-1.24rem;
  width:2.5rem;
  height:1.37rem;
}
.btn-go-top{
  position: absolute;
  bottom: 4.1rem;
  left: 50%;
  margin-left: -2.5rem;
  width: 5rem;
  height: 0.7rem;
  background-color: rgba(0,0,0,0);
}
.img-light{
  position: absolute;
  top: 1.3rem;
  left: 50%;
  margin-left:-3.14rem;
  width:6.2rem;
  height:5.34rem;
}
%img{
  position: absolute;
  opacity: 0;
}
.img11{
  @extend %img;
  top: 6.78rem;
  left: 4.18rem;
  width:3.13rem;
  height:2.54rem;
}
.img21{
  @extend %img;
  top: 39.26rem;
  left: 4.28rem;
  width:2.25rem;
  height:1.91rem;
}
.img22{
  @extend %img;
  top: 38.26rem;
  left: 5.88rem;
  width:1.89rem;
  height:1.36rem;
}
.img31{
  @extend %img;
  top: 49.58rem;
  left: 3.96rem;
  width:3.02rem;
  height:2.58rem;
}
.img32{
  @extend %img;
  top: 48.68rem;
  left: 5.36rem;
  width:1.96rem;
  height:1.42rem;
}
.img41{
  @extend %img;
  top: 59.88rem;
  left: 4.26rem;
  width:2.74rem;
  height:2.37rem;
}
.img42{
  @extend %img;
  top: 60.48rem;
  left: 3.06rem;
  width:2.31rem;
  height:1.50rem;
}
.img51{
  @extend %img;
  top: 69.78rem;
  left: 4.1rem;
  width:2.74rem;
  height:2.37rem;
}
.img52{
  @extend %img;
  top: 69.1rem;
  left: 3.02rem;
  width:1.96rem;
  height:1.31rem;
}
.img61{
  @extend %img;
  top: 81.18rem;
  left: 4.1rem;
  width:2.82rem;
  height:2.34rem;
}
.img62{
  @extend %img;
  top: 81.88rem;
  left: 2.82rem;
  width:1.96rem;
  height:1.27rem;
}
.img71{
  @extend %img;
  top: 91.38rem;
  left: 4.3rem;
  width:2.82rem;
  height:2.34rem;
}
.img72{
  @extend %img;
  top: 91.88rem;
  left: 3.5rem;
  width:1.73rem;
  height:1.13rem;
}
.img81{
  @extend %img;
  top: 98.64rem;
  left: 3.82rem;
  width:3.14rem;
  height:2.34rem;
}
.img82{
  @extend %img;
  top: 97.64rem;
  left: 5.32rem;
  width:1.86rem;
  height:1.38rem;
}
.img91{
  @extend %img;
  top: 123.8rem;
  left: 4.8rem;
  width:2.34rem;
  height:2.27rem;
}
.img92{
  @extend %img;
  top: 124.3rem;
  left: 2.8rem;
  width:2.52rem;
  height:1.61rem;
}
.img1-1{
  @extend %img;
  top: 12.54rem;
  left: 2rem;
  width: sixToSeven(2.97);
  height: sixToSeven(0.57);
}
.img1-2{
  @extend %img;
  top: 15.26rem;
  left: 1.24rem;
  width: sixToSeven(4.31);
  height: sixToSeven(2.68);
}
.img1-3{
  @extend %img;
  top: 18.64rem;
  left: 1.14rem;
  width: sixToSeven(4.43);
  height: sixToSeven(0.88);
}
.img1-4{
  @extend %img;
  top: 19.76rem;
  left: 1.14rem;
  width: sixToSeven(4.43);
  height: sixToSeven(0.88);
}
.img1-5{
  @extend %img;
  top: 20.88rem;
  left: 1.14rem;
  width: sixToSeven(4.43);
  height: sixToSeven(0.88);
}
.img1-6{
  @extend %img;
  top: 22.04rem;
  left: 1.44rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img1-7{
  @extend %img;
  top: 22.04rem;
  left: 3.1rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img1-8{
  @extend %img;
  top: 22.04rem;
  left: 4.84rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img1-9{
  @extend %img;
  top: 23.74rem;
  left: 1.16rem;
  width: sixToSeven(1.48);
  height: sixToSeven(0.72);
}
.img1-10{
  @extend %img;
  top: 23.74rem;
  left: 3.36rem;
  width: sixToSeven(0.61);
  height: sixToSeven(0.71);
}
.img1-11{
  @extend %img;
  top: 23.74rem;
  left: 5.1rem;
  width: sixToSeven(0.59);
  height: sixToSeven(0.7);
}
.img1-12{
  @extend %img;
  top: 25.12rem;
  left: 1.2rem;
  width: sixToSeven(4.2);
  height: sixToSeven(3.05);
}
.img1-13{
  @extend %img;
  top: 29rem;
  left: 1.6rem;
  width: sixToSeven(3.59);
  height: sixToSeven(1.04);
}
.car-1{
  @extend %img;
  opacity: 1;
  top: 14.12rem;
  left: 2.8rem;
  width: sixToSeven(0.79);
  height: sixToSeven(0.69);
}
.car-2{
  @extend %img;
  opacity: 1;
  top: 18.82rem;
  left: -0.1rem;
  width: sixToSeven(0.79);
  height: sixToSeven(0.69);
  @include rotate(-90deg);
}
.img2-1{
  @extend %img;
  top: 32.48rem;
  left: 1.62rem;
  width: sixToSeven(3.58);
  height: sixToSeven(0.57);
}
.img2-2{
  @extend %img;
  top: 35.75rem;
  left: 1.58rem;
  width: sixToSeven(3.78);
  height: sixToSeven(0.87);
}
.img2-3{
  @extend %img;
  top: 35.18rem;
  left: 1.36rem;
  width: sixToSeven(3.48);
  height: sixToSeven(1.68);
}
.img2-4{
  @extend %img;
  top: 37.56rem;
  left: 1.36rem;
  width: sixToSeven(3.48);
  height: sixToSeven(1.68);
}
.img3-1{
  @extend %img;
  top: 41.7rem;
  left: 1.8rem;
  width: sixToSeven(3.34);
  height: sixToSeven(0.34);
}
.img3-2{
  @extend %img;
  top: 43.82rem;
  left: 1.27rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img3-3{
  @extend %img;
  top: 43.74rem;
  left: 3.05rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img3-4{
  @extend %img;
  top: 43.74rem;
  left:4.8rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img3-5{
  @extend %img;
  top: 45.5rem;
  left: 1.2rem;
  width: sixToSeven(4.05);
  height: sixToSeven(0.7);
}
.img3-6{
  @extend %img;
  top: 46.52rem;
  left: 1.7rem;
  width: sixToSeven(3.57);
  height: sixToSeven(0.73);
}
.img3-7{
  @extend %img;
  top: 50.24rem;
  left: 1.0rem;
  width: sixToSeven(1.86);
  height: sixToSeven(1.03);
}
.img4-1{
  @extend %img;
  top: 52.42rem;
  left: 2.7rem;
  width: sixToSeven(1.78);
  height: sixToSeven(0.34);
}
.img4-2{
  @extend %img;
  top: 54.46rem;
  left: 1.15rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.03);
}
.img4-3{
  @extend %img;
  top: 55.76rem;
  left: 1.15rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.03);
}
.img4-4{
  @extend %img;
  top: 57.04rem;
  left: 1.15rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.03);
}
.img4-5{
  @extend %img;
  top: 58.32rem;
  left: 1.15rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.03);
}
.img4-6{
  @extend %img;
  top: 62.48rem;
  left: 1.75rem;
  width: sixToSeven(3.45);
  height: sixToSeven(0.34);
}
.img4-7{
  @extend %img;
  top: 64.50rem;
  left: 0.92rem;;
  width: sixToSeven(4.85);
  height: sixToSeven(4.72);
}
.img4-8{
  @extend %img;
  top: 65.14rem;
  left: 2.02rem;
  width: sixToSeven(2.96);
  height: sixToSeven(3.33);
}
.img4-9{
  @extend %img;
  top: 65.21rem;
  left: 2.10rem;
  width: sixToSeven(2.84);
  height: sixToSeven(2.84);
}
.img4-10{
  @extend %img;
  top: 65.46rem;
  left: 2.35rem;
  width: sixToSeven(2.29);
  height: sixToSeven(2.13);
}
.img5-1{
  @extend %img;
  top: 72.36rem;
  left: 2.5rem;
  width: sixToSeven(2.14);
  height: sixToSeven(0.34);
}
.img5-2{
  @extend %img;
  top: 74.84rem;
  left: 1.49rem;
  width: sixToSeven(3.57);
  height: sixToSeven(1.15);
}
.img5-3{
  @extend %img;
  top: 74.48rem;
  left: 1.44rem;
  width: sixToSeven(3.31);
  height: sixToSeven(1.77);
}
.img5-4{
  @extend %img;
  top: 76.8rem;
  left: 1.08rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img5-5{
  @extend %img;
  top: 76.8rem;
  left: 2.95rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img5-6{
  @extend %img;
  top: 76.8rem;
  left: 4.86rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img5-7{
  @extend %img;
  top: 78.5rem;
  left: 1.32rem;
  width: sixToSeven(4.11);
  height: sixToSeven(1.83);
}
.img6-1{
  @extend %img;
  top: 83.58rem;
  left: 2.68rem;
  width: sixToSeven(1.78);
  height: sixToSeven(0.34);
}
.img6-2{
  @extend %img;
  top: 85.74rem;
  left: 1.78rem;
  width: sixToSeven(3.29);
  height: sixToSeven(1.19);
}
.img6-3{
  @extend %img;
  top: 87.44rem;
  left: 1.12rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.04);
}
.img6-4{
  @extend %img;
  top: 88.74rem;
  left: 1.12rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.40);
}
.img6-5{
  @extend %img;
  top: 94.86rem;
  left: 1.62rem;
  width: sixToSeven(3.38);
  height: sixToSeven(2.58);
}
.img6-6{
  @extend %img;
  top: 101.66rem;
  left: 1.62rem;
  width: sixToSeven(3.58);
  height: sixToSeven(0.57);
}
.img6-7{
  @extend %img;
  top: 104.26rem;
  left: 1.12rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.05);
}
.img6-8{
  @extend %img;
  top: 105.56rem;
  left: 1.12rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.05);
}
.img6-9{
  @extend %img;
  top: 106.86rem;
  left: 1.12rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.05);
}
.img6-10{
  @extend %img;
  top: 108.16rem;
  left: 1.12rem;
  width: sixToSeven(4.43);
  height: sixToSeven(1.05);
}
.img7-1{
  @extend %img;
  top: 111.36rem;
  left: 2.42rem;
  width: sixToSeven(2.15);
  height: sixToSeven(0.34);
}
.img7-2{
  @extend %img;
  top: 113.64rem;
  left: 1.72rem;
  width: sixToSeven(3.82);
  height: sixToSeven(1.89);
}
.img7-3{
  @extend %img;
  top: 113.68rem;
  left: 1.3rem;
  width: sixToSeven(0.24);
  height: sixToSeven(1.81);
}
.img7-4{
  @extend %img;
  top: 116.78rem;
  left: 1.9rem;
  width: sixToSeven(2.97);
  height: sixToSeven(0.57);
}
.img7-5{
  @extend %img;
  top: 119.38rem;
  left: 1.28rem;
  width: sixToSeven(4.19);
  height: sixToSeven(2.15);
}
.img7-6{
  @extend %img;
  top: 121.98rem;
  left: 1.0rem;
  width: sixToSeven(0.76);
  height: sixToSeven(0.8);
}
.img7-7{
  @extend %img;
  top: 121.98rem;
  left: 2.14rem;
  width: sixToSeven(0.76);
  height: sixToSeven(0.8);
}
.img7-8{
  @extend %img;
  top: 121.98rem;
  left: 3.24rem;
  width: sixToSeven(0.76);
  height: sixToSeven(0.8);
}
.img7-9{
  @extend %img;
  top: 121.98rem;
  left: 4.34rem;
  width: sixToSeven(0.76);
  height: sixToSeven(0.8);
}
.img7-10{
  @extend %img;
  top: 121.98rem;
  left: 5.44rem;
  width: sixToSeven(0.76);
  height: sixToSeven(0.8);
}
.img7-11{
  @extend %img;
  top: 126.48rem;
  left: 1.84rem;
  width: sixToSeven(3.28);
  height: sixToSeven(0.57);
}
.img7-12{
  @extend %img;
  top: 128.28rem;
  left: 1.84rem;
  width: sixToSeven(3.12);
  height: sixToSeven(2.36);
}/*
.img7-13{
  @extend %img;
  top: 128.28rem;
  left: 1.84rem;
  width: sixToSeven(2.63);
  height: sixToSeven(0.26);
}*/

@include animate-mySlideInRight();       //右侧划入
@include animate-myLightSpeedIn();       //带缓冲的划入
@include animate-bounceIn();
@include animate-myFlash();                //透明到不透明
@include animate-fadeInDown();        //由上往下滑动出现
@include animate-fadeIn();        //闪一下尽量
@include animate-rotateInY();        //y轴旋转
@include animate-moveToLeft();        //自右向左移动
@include animate-moveToBottom();        //自上往下移动
@include animate-scaleY();        //Y轴方向形变
@include animate-rotateLoopR();        //旋转

.rotateLoopR{
  @include animation-iteration-count(1);
  @include animation-duration(1s);
}
.scaleY {       //由下往上变形
  @include animation-duration(3s);
  @include transform-origin(0% 100%);
}

.myFlash {
  animation-duration: 0.8s;
  animation-iteration-count:infinite;
}