@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/animate/_fade";
@import "../../lib/sass/animate/_bounce";
@import "../../lib/sass/animate/_slide";
@import "../../lib/sass/animate/_rotate";
@import "../../lib/sass/animate/_flip";
@import "../../lib/sass/animate/_special";
@import "../../lib/sass/animate/_attention-seekers";
@import "../../lib/sass/animate/_lightspeed";
@import "../../lib/sass/animate/_tiny";
@import "../../lib/css/common.css";
// 640宽的图片转出750宽的图片
@function sixToSeven($rem) {
  @return ($rem * 750 / 640) * 1rem;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container{
  position: relative;
}
.img-main{
  width:100%;
  display: block;
}
.img-btn{
  position: absolute;
  bottom:5.64rem;
  left:50%;
  margin-left:-1.24rem;
  width:2.5rem;
  height:1.37rem;
}
.btn-go-top{
  position: absolute;
  bottom: 4.1rem;
  left: 50%;
  margin-left: -2.5rem;
  width: 5rem;
  height: 0.7rem;
  background-color: rgba(0,0,0,0);
}
.img-light{
  position: absolute;
  top: 1.3rem;
  left: 50%;
  margin-left:-3.14rem;
  width:6.2rem;
  height:5.34rem;
}
%img{
  position: absolute;
  opacity: 0;
}
.img11{
  @extend %img;
  top: 6.78rem;
  left: 4.18rem;
  width:3.13rem;
  height:2.54rem;
}
.img21{
  @extend %img;
  top: 39.26rem;
  left: 4.28rem;
  width:2.25rem;
  height:1.91rem;
}
.img22{
  @extend %img;
  top: 38.26rem;
  left: 5.88rem;
  width:1.89rem;
  height:1.36rem;
}
.img31{
  @extend %img;
  top: 49.58rem;
  left: 3.96rem;
  width:3.02rem;
  height:2.58rem;
}
.img32{
  @extend %img;
  top: 48.68rem;
  left: 5.36rem;
  width:1.96rem;
  height:1.42rem;
}
.img41{
  @extend %img;
  top: 59.88rem;
  left: 4.26rem;
  width:2.74rem;
  height:2.37rem;
}
.img42{
  @extend %img;
  top: 60.48rem;
  left: 3.06rem;
  width:2.31rem;
  height:1.50rem;
}
.img51{
  @extend %img;
  top: 69.78rem;
  left: 4.1rem;
  width:2.74rem;
  height:2.37rem;
}
.img52{
  @extend %img;
  top: 69.1rem;
  left: 3.02rem;
  width:1.96rem;
  height:1.31rem;
}
.img61{
  @extend %img;
  top: 81.18rem;
  left: 4.1rem;
  width:2.82rem;
  height:2.34rem;
}
.img62{
  @extend %img;
  top: 81.88rem;
  left: 2.82rem;
  width:1.96rem;
  height:1.27rem;
}
.img71{
  @extend %img;
  top: 91.38rem;
  left: 4.3rem;
  width:2.82rem;
  height:2.34rem;
}
.img72{
  @extend %img;
  top: 91.88rem;
  left: 3.5rem;
  width:1.73rem;
  height:1.13rem;
}
.img81{
  @extend %img;
  top: 98.64rem;
  left: 3.82rem;
  width:3.14rem;
  height:2.34rem;
}
.img82{
  @extend %img;
  top: 97.64rem;
  left: 5.32rem;
  width:1.86rem;
  height:1.38rem;
}
.img91{
  @extend %img;
  top: 123.8rem;
  left: 4.8rem;
  width:2.34rem;
  height:2.27rem;
}
.img92{
  @extend %img;
  top: 124.3rem;
  left: 2.8rem;
  width:2.52rem;
  height:1.61rem;
}
.img1-1{
  @extend %img;
  top: 12.54rem;
  left: 2rem;
  width: sixToSeven(2.97);
  height: sixToSeven(0.57);
}
.img1-2{
  @extend %img;
  top: 15.26rem;
  left: 1.24rem;
  width: sixToSeven(4.31);
  height: sixToSeven(2.68);
}
.img1-3{
  @extend %img;
  top: 18.64rem;
  left: 1.14rem;
  width: sixToSeven(4.43);
  height: sixToSeven(0.88);
}
.img1-4{
  @extend %img;
  top: 19.76rem;
  left: 1.14rem;
  width: sixToSeven(4.43);
  height: sixToSeven(0.88);
}
.img1-5{
  @extend %img;
  top: 20.88rem;
  left: 1.14rem;
  width: sixToSeven(4.43);
  height: sixToSeven(0.88);
}
.img1-6{
  @extend %img;
  top: 22.04rem;
  left: 1.44rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img1-7{
  @extend %img;
  top: 22.04rem;
  left: 3.1rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img1-8{
  @extend %img;
  top: 22.04rem;
  left: 4.84rem;
  width: sixToSeven(1.15);
  height: sixToSeven(1.34);
}
.img1-9{
  @extend %img;
  top: 23.74rem;
  left: 1.16rem;
  width: sixToSeven(1.48);
  height: sixToSeven(0.72);
}
.img1-10{
  @extend %img;
  top: 23.74rem;
  left: 3.36rem;
  width: sixToSeven(0.61);
  height: sixToSeven(0.71);
}
.img1-11{
  @extend %img;
  top: 23.74rem;
  left: 5.1rem;
  width: sixToSeven(0.59);
  height: sixToSeven(0.7);
}
.img1-12{
  @extend %img;
  top: 25.12rem;
  left: 1.2rem;
  width: sixToSeven(4.2);
  height: sixToSeven(3.05);
}
.img1-13{
  @extend %img;
  top: 29rem;
  left: 1.6rem;
  width: sixToSeven(3.59);
  height: sixToSeven(1.04);
}
.car-1{
  @extend %img;
  opacity: 1;
  top: 14.12rem;
  left: 2.8rem;
  width: sixToSeven(0.79);
  height: sixToSeven(0.69);
}
.car-2{
  @extend %img;
  opacity: 1;
  top: 18.82rem;
  left: -0.1rem;
  width: sixToSeven(0.79);
  height: sixToSeven(0.69);
  @include rotate(-90deg);
}

@include animate-mySlideInRight();       //右侧划入
@include animate-myLightSpeedIn();       //带缓冲的划入
@include animate-bounceIn();
@include animate-myFlash();                //透明到不透明
@include animate-fadeInDown();        //由上往下滑动出现
@include animate-fadeIn();        //闪一下尽量
@include animate-rotateInY();        //y轴旋转
@include animate-moveToLeft();        //自右向左移动
@include animate-moveToBottom();        //自上往下移动
.animation-delay3{
  @include animation-delay(0.3s)
}
.animation-delay8{
  @include animation-delay(0.8s)
}
.animation-delay13{
  @include animation-delay(1.3s)
}

.myFlash {
  animation-duration: 0.8s;
  animation-iteration-count:infinite;
}
