<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<link href="css/style.css" rel="stylesheet"></head>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<body>
    <a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;"></a>
    <audio id="bgMusic" loop="loop" autoplay="autoplay">
        <source src="assets/music.mp3" type="audio/mpeg">
    </audio>
    <div class="container">
        <img src="assets/rzg-main.png" class="img-main"/>
        <img src="assets/btn.png" class="img-btn" onclick="go();"/>
        <div class="btn-go-top" id="goToTop"></div>
    </div>
</body>
<script>
    function go(){
        location.href = 'http://wxly.p5w.net/index.php/home/roadshow/activityDetail/id/00017ADDE1E4AF694A6FAB21BB1B88C62FB2';
    }
    $("#goToTop").click(function () {
        var speed=500;//滑动的速度
        $('body,html').animate({ scrollTop: 0 }, speed);
        return false;
    });
    var docEle = document.documentElement;
    fn = function() {
        var e = docEle.clientWidth;
        docEle.style.fontSize = e < 320 ? "42.6667px": e > 750 ? "100px": e / 750 * 100 + "px"
    };
    var evt = "onorientationchange" in window ? "orientationchange": "resize";
    window.addEventListener(evt, fn, !1),
    fn()
    $(function(){
        var music = document.getElementById("bgMusic");
        $("#audioBtn").click(function(){
            if(music.paused){music.play();
                $("#audioBtn").removeClass("pause").addClass("play");
            }else{music.pause();
                $("#audioBtn").removeClass("play").addClass("pause");
            }
        });
        //一般情况下，这样就可以自动播放了，但是一些奇葩iPhone机不可以
        document.getElementById('bgMusic').play();
        //必须在微信Weixin JSAPI的WeixinJSBridgeReady才能生效
        document.addEventListener("WeixinJSBridgeReady", function () {
            document.getElementById('bgMusic').play();
            document.getElementById('video').play();
        }, false);
        var share_title = '亲们，日照港喊你来开会啦！';
        var share_desc = '说得到，做得到，数字说明一切！';
        var share_link = location.href;
        var share_img = location.href.split('index.html')[0] + 'assets/fx.png';
        function shareFriend(shareTitle,descContent,lineLink) {
            wx.onMenuShareAppMessage({
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: share_img,
                trigger: function (res) {
                    $('#mcover').hide();
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }

        function shareTimeline(shareTitle,descContent,lineLink) {
            wx.onMenuShareTimeline({
                title: shareTitle,
                link: lineLink,
                imgUrl: share_img,
                trigger: function (res) {
                    $('#mcover').hide();
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }

        function shareQQ(shareTitle,descContent,lineLink){
            wx.onMenuShareQQ({
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: share_img,
                trigger: function (res) {
                    $('#mcover').hide();
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        };

        function shareWeibo(shareTitle,descContent,lineLink){
            wx.onMenuShareWeibo({
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: share_img,
                trigger: function (res) {
                    $('#mcover').hide();
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        };
        $(document).ready(function() {
            /*
             while(share_desc == ''){
             setTimeout(function(){share_desc = $(document).attr("title");},500);
             }
             */

            var url = location.href.split('#').toString();
            $.ajax({
                url: 'http://inews.p5w.net/wx/sign.php',
                type: 'post',
                dataType: 'json',
                data:{'url':url},
                error:function(XMLHttpRequest, textStatus, errorThrown){

                },
                success:function(signPackage){
                    if(signPackage)	{
                        var share_appid = signPackage.appId;
                        var share_nonceStr = signPackage.nonceStr;
                        var share_signature = signPackage.signature;
                        var share_timestamp = signPackage.timestamp;

                        wx.config({
                            debug: false,
                            appId: share_appid,
                            timestamp: share_timestamp,
                            nonceStr: share_nonceStr,
                            signature: share_signature,
                            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo']
                        });

                        wx.ready(function(){

                            //发送给好友
                            shareFriend(share_title,share_desc,share_link);

                            //分享到朋友圈
                            shareTimeline(share_title,share_desc,share_link);

                            //分享给QQ好友
                            shareQQ(share_title,share_desc,share_link);

                            //分享到微博
                            shareWeibo(share_title,share_desc,share_link);
                        });

                    }
                }
            })
        });
    });
</script>
</html>