<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>亲们，日照港喊你来开会啦！</title>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;"></a>
<audio id="bgMusic" loop="loop" autoplay="autoplay">
    <source src="./music.mp3" type="audio/mpeg">
</audio>
<div class="container">
    <img src="../../assets/rzg/rzg-main.png" class="img-main"/>
    <img src="../../assets/rzg/light.png" class="img-light myFlash" id="imgLight" />
    <img src="../../assets/rzg/img11.png" class="img11 myLightSpeedIn" qj-ani qj-effect="myLightSpeedIn animation-delay8"  />
    <img src="../../assets/rzg/img21.png" class="img21" qj-ani qj-effect="myLightSpeedIn"/>
    <img src="../../assets/rzg/img22.png" class="img22" next qj-effect="bounceIn animation-delay8" />
    <img src="../../assets/rzg/img31.png" class="img31" qj-ani qj-effect="myLightSpeedIn" />
    <img src="../../assets/rzg/img32.png" class="img32" next qj-effect="bounceIn animation-delay8"/>
    <img src="../../assets/rzg/img41.png" class="img41" qj-ani qj-effect="myLightSpeedIn"/>
    <img src="../../assets/rzg/img42.png" class="img42" next qj-effect="bounceIn animation-delay8"/>
    <img src="../../assets/rzg/img51.png" class="img51" qj-ani qj-effect="myLightSpeedIn"/>
    <img src="../../assets/rzg/img52.png" class="img52" next qj-effect="bounceIn animation-delay8"/>
    <img src="../../assets/rzg/img61.png" class="img61" qj-ani qj-effect="myLightSpeedIn"/>
    <img src="../../assets/rzg/img62.png" class="img62" next qj-effect="bounceIn animation-delay8"/>
    <img src="../../assets/rzg/img71.png" class="img71" qj-ani qj-effect="myLightSpeedIn"/>
    <img src="../../assets/rzg/img72.png" class="img72" next qj-effect="bounceIn animation-delay8"/>
    <img src="../../assets/rzg/img81.png" class="img81" qj-ani qj-effect="myLightSpeedIn"/>
    <img src="../../assets/rzg/img82.png" class="img82" next qj-effect="bounceIn animation-delay8"/>
    <img src="../../assets/rzg/img91.png" class="img91" qj-ani qj-effect="myLightSpeedIn"/>
    <img src="../../assets/rzg/img92.png" class="img92" next qj-effect="bounceIn animation-delay8"/>
    <img src="../../assets/rzg/1-1.png" class="img1-1" qj-ani qj-effect="bounceIn"/>
    <img src="../../assets/rzg/1-2.png" class="img1-2" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/1-3.png" class="img1-3" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/1-4.png" class="img1-4" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/1-5.png" class="img1-5" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/1-6.png" class="img1-6" qj-ani qj-effect="rotateInY animation-delay3"/>
    <img src="../../assets/rzg/1-7.png" class="img1-7" qj-ani qj-effect="rotateInY animation-delay8" />
    <img src="../../assets/rzg/1-8.png" class="img1-8" qj-ani qj-effect="rotateInY animation-delay13"/>
    <img src="../../assets/rzg/1-9.png" class="img1-9" qj-ani qj-effect="fadeIn animation-delay3" />
    <img src="../../assets/rzg/1-10.png" class="img1-10" qj-ani qj-effect="fadeIn animation-delay8" />
    <img src="../../assets/rzg/1-11.png" class="img1-11" qj-ani qj-effect="fadeIn animation-delay13" />
    <img src="../../assets/rzg/1-12.png" class="img1-12" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/1-13.png" class="img1-13" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/car1.png" class="car-1" qj-ani qj-effect="moveToLeft"/>
    <img src="../../assets/rzg/car1.png" class="car-2" qj-ani qj-effect="moveToBottom"/>
    <img src="../../assets/rzg/2-1.png" class="img2-1" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/2-2.png" class="img2-2" qj-ani qj-effect="scaleY"/>
    <img src="../../assets/rzg/2-3.png" class="img2-3" next qj-effect="fadeInDown animation-delay8"/>
    <img src="../../assets/rzg/2-2.png" class="img2-2" qj-ani qj-effect="scaleY" style="top:38.13rem;"/>
    <img src="../../assets/rzg/2-4.png" class="img2-4" next qj-effect="fadeInDown animation-delay8"/>
    <img src="../../assets/rzg/3-1.png" class="img3-1" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/3-2.png" class="img3-2" qj-ani qj-effect="rotateInY animation-delay3"/>
    <img src="../../assets/rzg/3-3.png" class="img3-3" qj-ani qj-effect="rotateInY animation-delay8"/>
    <img src="../../assets/rzg/3-4.png" class="img3-4" qj-ani qj-effect="rotateInY animation-delay13"/>
    <img src="../../assets/rzg/3-5.png" class="img3-5" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/3-6.png" class="img3-6" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/3-7.png" class="img3-7" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/4-1.png" class="img4-1" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/4-2.png" class="img4-2" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/4-3.png" class="img4-3" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/4-4.png" class="img4-4" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/4-5.png" class="img4-5" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/4-6.png" class="img4-6" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/4-8.png" class="img4-8" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/4-9.png" class="img4-9" qj-ani qj-effect="rotateLoopR animation-delay8"/>
    <img src="../../assets/rzg/4-10.png" class="img4-10" qj-ani qj-effect="fadeInDown animation-delay18"/>
    <img src="../../assets/rzg/4-7.png" class="img4-7" next qj-effect="fadeInDown animation-delay25"/>
    <img src="../../assets/rzg/5-1.png" class="img5-1" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/5-2.png" class="img5-2" qj-ani qj-effect="scaleY"/>
    <img src="../../assets/rzg/5-3.png" class="img5-3" next qj-effect="fadeInDown animation-delay13"/>
    <img src="../../assets/rzg/5-4.png" class="img5-4" qj-ani qj-effect="rotateInY animation-delay3"/>
    <img src="../../assets/rzg/5-5.png" class="img5-5" qj-ani qj-effect="rotateInY animation-delay8"/>
    <img src="../../assets/rzg/5-6.png" class="img5-6" qj-ani qj-effect="rotateInY animation-delay13"/>
    <img src="../../assets/rzg/5-7.png" class="img5-7" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-1.png" class="img6-1" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-2.png" class="img6-2" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-3.png" class="img6-3" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-4.png" class="img6-4" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-5.png" class="img6-5" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-6.png" class="img6-6" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-7.png" class="img6-7" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-8.png" class="img6-8" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-9.png" class="img6-9" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/6-10.png" class="img6-10" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/7-1.png" class="img7-1" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/7-2.png" class="img7-2" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/7-3.png" class="img7-3" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/7-4.png" class="img7-4" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/7-5.png" class="img7-5" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/7-6.png" class="img7-6" qj-ani qj-effect="rotateInY animation-delay3"/>
    <img src="../../assets/rzg/7-7.png" class="img7-7" qj-ani qj-effect="rotateInY animation-delay8"/>
    <img src="../../assets/rzg/7-8.png" class="img7-8" qj-ani qj-effect="rotateInY animation-delay13"/>
    <img src="../../assets/rzg/7-9.png" class="img7-9" qj-ani qj-effect="rotateInY animation-delay18"/>
    <img src="../../assets/rzg/7-10.png" class="img7-10" qj-ani qj-effect="rotateInY animation-delay23"/>
    <img src="../../assets/rzg/7-11.png" class="img7-11" qj-ani qj-effect="fadeInDown"/>
    <img src="../../assets/rzg/7-12.png" class="img7-12" qj-ani qj-effect="fadeInDown"/>
    <!--<img src="../../assets/rzg/7-13.png" class="img7-13" qj-ani qj-effect="fadeInDown"/>-->
    <img src="../../assets/rzg/btn.png" class="img-btn" onclick="go();"/>
    <div class="btn-go-top" id="goToTop"></div>
</div>
</body>
<script>
    function go(){
        location.href = 'http://wxly.p5w.net/index.php/home/roadshow/activityDetail/id/00017ADDE1E4AF694A6FAB21BB1B88C62FB2';
    }
    $("#goToTop").click(function () {
        var speed=500;//滑动的速度
        $('body,html').animate({ scrollTop: 0 }, speed);
        return false;
    });
    var docEle = document.documentElement;
    fn = function() {
        var width = docEle.clientWidth;
        if( width < 320 ) {
            docEle.style.fontSize = 42.6667 + "px";//
        }
        else if( width > 750 ) {
            docEle.style.fontSize = 100 + "px";
        }
        else {
            //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
            docEle.style.fontSize = 100 * (width / 750) + "px";
        }
    };
    var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
    window.addEventListener(evt, fn, false);
    fn();
    $(function(){
        var qjAni = $('body').find('[qj-ani]');     //获取所有带qj-ani属性的元素
        var eTop = 0;           //距离顶部的高度
        var eHeight = 0;        //自身高度
        var wHeight = $(window).height();        //屏幕高度
        $(window).scroll(function () {          //页面滚动到某处后执行动画
            for(var i=0; i<qjAni.length; i++){      //循环带qj-ani属性的所有的元素
                eTop = qjAni.eq(i).offset().top;        //获取当前元素距离顶部的距离
                eHeight = qjAni.eq(i).height();
                //元素距离顶部高度减去滚动的高度小于屏幕高度的三分之二时（向上滚动到可视区域元素顶部距离屏幕底部三分之一时），元素距离顶部高度减去滚动的高度大于屏幕高度的三分之一减去元素自身高度时（向下滚动到可视区域元素顶部距离屏幕顶部三分之一时，添加动画css
                if(eTop-$(window).scrollTop() < (wHeight/3*2).toFixed(0) && eTop-$(window).scrollTop() > (wHeight/3-eHeight).toFixed(0)){
                    if(!qjAni.eq(i).hasClass(qjAni.eq(i).attr('qj-effect'))){
                        qjAni.eq(i).addClass(qjAni.eq(i).attr('qj-effect'));
                        if(!(qjAni.eq(i).next().attr('next') == undefined)){          //是否有关联的元素要触发动画，有的话加上next属性，目前支持下个元素关联，无法关联多个
//                            for(var j=0;j<qjAni.eq(i).find('[next]').length;i++){
                            qjAni.eq(i).next().addClass(qjAni.eq(i).next().attr('qj-effect'))
//                            }
                        }
                    }
                }
                //页面滚动的距离大于元素距离顶部的距离加上元素自身高度时（向上滚动出可视区域），元素距离顶部高度减去滚动的高度大于屏幕高度时（向下滚动出可视区域），元素移除动画css
                if($(window).scrollTop() > eTop+eHeight || eTop-$(window).scrollTop() > wHeight){
                    if(qjAni.eq(i).hasClass(qjAni.eq(i).attr('qj-effect'))){
                        qjAni.eq(i).removeClass(qjAni.eq(i).attr('qj-effect'));
                        if(!(qjAni.eq(i).next().attr('next') == undefined)){                  //是否有关联的元素要触发动画，有的话加上next属性，目前支持下个元素关联，无法关联多个
//                            for(var j=0;j<qjAni.eq(i).find('[next]').length;i++){
                            qjAni.eq(i).next().removeClass(qjAni.eq(i).next().attr('qj-effect'))
//                            }
                        }
                    }
                }
            }
        });
        var music = document.getElementById("bgMusic");
        $("#audioBtn").click(function(){
            if(music.paused){music.play();
                $("#audioBtn").removeClass("pause").addClass("play");
            }else{music.pause();
                $("#audioBtn").removeClass("play").addClass("pause");
            }
        });
        //一般情况下，这样就可以自动播放了，但是一些奇葩iPhone机不可以
        document.getElementById('bgMusic').play();
        //必须在微信Weixin JSAPI的WeixinJSBridgeReady才能生效
        document.addEventListener("WeixinJSBridgeReady", function () {
            document.getElementById('bgMusic').play();
            document.getElementById('video').play();
        }, false);
        var share_title = '亲们，日照港喊你来开会啦！';
        var share_desc = '说得到，做得到，数字说明一切！';
        var share_link = location.href;
        var share_img = location.href.split('index.html')[0] + 'assets/fx.png';
        //setWxShare(share_title,share_desc,share_link,share_img);
        function shareFriend(shareTitle,descContent,lineLink) {
            wx.onMenuShareAppMessage({
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: share_img,
                trigger: function (res) {
                    $('#mcover').hide();
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }

        function shareTimeline(shareTitle,descContent,lineLink) {
            wx.onMenuShareTimeline({
                title: shareTitle,
                link: lineLink,
                imgUrl: share_img,
                trigger: function (res) {
                    $('#mcover').hide();
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }

        function shareQQ(shareTitle,descContent,lineLink){
            wx.onMenuShareQQ({
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: share_img,
                trigger: function (res) {
                    $('#mcover').hide();
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        };

        function shareWeibo(shareTitle,descContent,lineLink){
            wx.onMenuShareWeibo({
                title: shareTitle,
                desc: descContent,
                link: lineLink,
                imgUrl: share_img,
                trigger: function (res) {
                    $('#mcover').hide();
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        };
        $(document).ready(function() {
            /*
             while(share_desc == ''){
             setTimeout(function(){share_desc = $(document).attr("title");},500);
             }
             */

            var url = location.href.split('#').toString();
            $.ajax({
                url: 'http://inews.p5w.net/wx/sign.php',
                type: 'post',
                dataType: 'json',
                data:{'url':url},
                error:function(XMLHttpRequest, textStatus, errorThrown){

                },
                success:function(signPackage){
                    if(signPackage)	{
                        var share_appid = signPackage.appId;
                        var share_nonceStr = signPackage.nonceStr;
                        var share_signature = signPackage.signature;
                        var share_timestamp = signPackage.timestamp;

                        wx.config({
                            debug: false,
                            appId: share_appid,
                            timestamp: share_timestamp,
                            nonceStr: share_nonceStr,
                            signature: share_signature,
                            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo']
                        });

                        wx.ready(function(){

                            //发送给好友
                            shareFriend(share_title,share_desc,share_link);

                            //分享到朋友圈
                            shareTimeline(share_title,share_desc,share_link);

                            //分享给QQ好友
                            shareQQ(share_title,share_desc,share_link);

                            //分享到微博
                            shareWeibo(share_title,share_desc,share_link);
                        });

                    }
                }
            })
        });
    });
</script>
</html>