<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>康普顿 未来有你更有动力！</title>
    <script>
        var docEle = document.documentElement;
        fn = function() {
            var width = docEle.clientWidth;
            if( width < 320 ) {
                docEle.style.fontSize = 42.6667 + "px";//
            }
            else if( width > 750 ) {
                docEle.style.fontSize = 100 + "px";
            }
            else {
                //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                docEle.style.fontSize = 100 * (width / 750) + "px";
            }
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <div id="loading">
        <img src="../../assets/common/logo.png" class="pre-logo"/>
        <div class="cow">
            <img src="../../assets/common/head.png" class="pre-head"/>
            <img src="../../assets/common/eye.png" class="pre-eye-left eye-rotate"/>
            <img src="../../assets/common/eye.png" class="pre-eye-right eye-rotate"/>
            <img src="../../assets/common/mouth.png" class="pre-mouth"/>
        </div>
        <div>页面加载中<span id="progress"></span></div>
    </div>
    <a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;" ></a>
    <audio id="bgMusic" loop="loop" autoplay="autoplay">
        <source src="music.mp3" type="audio/mpeg">
    </audio>
    <!--指示箭头-->
    <section class="u-arrow-bottom">
        <div class="pre-wrap">
            <div class="pre-box1">
                <div class="pre1"></div>
            </div>
            <div class="pre-box2">
                <div class="pre2"></div>
            </div>
        </div>
    </section>
    <div id="wxTitle" style="display:none;">康普顿 未来有你更有动力！</div>
    <div id="wxDesc" style="display:none;">股票代码：603798</div>
    <img src="../../assets/kpd/fx.png" style="display:none;"/>
    <div id="qj">
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="flash animation-iteration-infinite animation-duration100" class="bg1"/>
            <img src="../../assets/kpd/img11.png" qj-effect="fastFlashAndShow animation-duration20 animation-delay10" class="img11"/>
            <img src="../../assets/kpd/img12.png" qj-effect="fadeInDown animation-delay20  animation-duration20" class="img12"/>
            <img src="../../assets/kpd/img13.png" qj-effect="fadeInDown animation-delay15 animation-duration20" class="img13"/>
            <img src="../../assets/kpd/img14.png" qj-effect="" class="img14"/>
            <img src="../../assets/kpd/img15.png" qj-effect="" class="img15"/>
            <img src="../../assets/kpd/img16.png" qj-effect="" class="img16"/>
            <img src="../../assets/kpd/img17.png" qj-effect="fadeInDown animation-delay25" class="img17"/>
            <img src="../../assets/kpd/img18.png" qj-effect="fadeInDown animation-delay20" class="img18"/>
            <img src="../../assets/kpd/car1.png" qj-effect="fadeInRight animation-delay30" class="img19"/>
            <img src="../../assets/kpd/moto1.png" qj-effect="fadeInLeft animation-delay25" class="img110"/>
            <div class="shade-div11" qj-effect="slideOutUp animation-duration50"></div>
            <div class="shade-div12" qj-effect="slideOutUp animation-duration50 animation-delay2"></div>
            <div class="shade-div13" qj-effect="slideOutUp animation-duration50 animation-delay4"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="flash animation-iteration-infinite animation-duration100" class="bg1"/>
            <img src="../../assets/kpd/img21.png" qj-effect="fastFlashAndShow animation-delay8 animation-duration20" class="img21"/>
            <img src="../../assets/kpd/img22.png" qj-effect="fastFlashAndShow animation-duration10" class="img22"/>
            <img src="../../assets/kpd/img23.png" qj-effect="fadeInDown animation-delay10 animation-duration10" class="img23"/>
            <img src="../../assets/kpd/img24.png" qj-effect="fadeInDown animation-delay15 animation-duration10" class="img24"/>
            <img src="../../assets/kpd/img25.png" qj-effect="fadeInDown animation-delay20 animation-duration10" class="img25"/>
            <img src="../../assets/kpd/img26.png" qj-effect="tada animation-delay25" class="img26"/>
            <img src="../../assets/kpd/img27.png" qj-effect="" class="img27"/>
            <img src="../../assets/kpd/img28.png" qj-effect="fadeInDown" class="img28"/>
            <div class="shade-div21" qj-effect="slideOutRightShort animation-duration20 animation-delay10 animation-iteration-infinite"></div>
            <div class="shade-div22" qj-effect="slideOutLeftShort animation-duration20 animation-delay10 animation-iteration-infinite"></div>
            <div class="shade-div23" qj-effect="slideOutRight animation-duration70"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="flash animation-iteration-infinite animation-duration100" class="bg1"/>
            <img src="../../assets/kpd/img31.png" qj-effect="flash animation-delay15 animation-duration25" class="img31"/>
            <img src="../../assets/kpd/img32.png" qj-effect="flash  animation-delay20 animation-duration25" class="img32"/>
            <img src="../../assets/kpd/img33.png" qj-effect="" class="img33"/>
            <img src="../../assets/kpd/img34.png" qj-effect="zoomInDown" class="img34"/>
            <img src="../../assets/kpd/img35.png" qj-effect="flash animation-delay20 animation-duration25" class="img35"/>
            <img src="../../assets/kpd/img36.png" qj-effect="flash animation-delay15 animation-duration25" class="img36"/>
            <img src="../../assets/kpd/img37.png" qj-effect="fadeInUp" class="img37"/>
            <div class="shade-div31" qj-effect="slideOutRightShort animation-duration30 animation-delay5 animation-iteration-infinite"></div>
            <div class="shade-div32" qj-effect="slideOutLeftShort animation-duration30 animation-delay5 animation-iteration-infinite"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="flash animation-iteration-infinite animation-duration100" class="bg1"/>
            <img src="../../assets/kpd/img41.png" qj-effect="fadeInUp animation-delay5 animation-duration10" class="img41"/>
            <img src="../../assets/kpd/img42.png" qj-effect="fadeInUp  animation-duration10" class="img42"/>
            <img src="../../assets/kpd/img43.png" qj-effect="bigPulse animation-delay10 animation-duration20" class="img43"/>
            <img src="../../assets/kpd/img44.png" qj-effect="bigPulse animation-delay13 animation-duration20" class="img44"/>
            <img src="../../assets/kpd/img45.png" qj-effect="bigToSmall animation-delay30 animation-duration20" class="img45"/>
            <img src="../../assets/kpd/img46.png" qj-effect="bigPulse animation-delay35 animation-iteration-infinite" class="img46"/>
            <img src="../../assets/kpd/img47.png" qj-effect="zoomInDown animation-delay35" class="img47"/>
            <img src="../../assets/kpd/img48.png" qj-effect="zoomInDown animation-delay40" class="img48"/>
            <img src="../../assets/kpd/img49.png" qj-effect="" class="img49"/>
            <div class="shade-div41" qj-effect="slideOutRightShort animation-duration20 animation-delay50 animation-iteration-infinite"></div>
            <div class="shade-div42" qj-effect="slideOutLeftShort animation-duration20 animation-delay50 animation-iteration-infinite"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="flash animation-iteration-infinite animation-duration100" class="bg1"/>
            <img src="../../assets/kpd/img41.png" qj-effect="fadeInUp animation-delay5 animation-duration20" class="img57"/>
            <img src="../../assets/kpd/img42.png" qj-effect="fadeInUp  animation-duration20" class="img58"/>
            <img src="../../assets/kpd/img51.png" qj-effect="zoomInDown animation-duration15" class="img51"/>
            <img src="../../assets/kpd/img52.png" qj-effect="zoomInUp animation-delay20 animation-duration10" class="img52"/>
            <img src="../../assets/kpd/img53.png" qj-effect="fadeInUp animation-delay30 animation-duration15" class="img53"/>
            <img src="../../assets/kpd/img54.png" qj-effect="" class="img54"/>
            <img src="../../assets/kpd/img55.png" qj-effect="zoomInDown animation-delay30 animation-duration20" class="img55"/>
            <img src="../../assets/kpd/img56.png" qj-effect="zoomInDown animation-delay35 animation-duration20" class="img56"/>
            <img src="../../assets/kpd/img49.png" qj-effect="" class="img49"/>
            <div class="shade-div41" qj-effect="slideOutRightShort animation-duration20 animation-delay60 animation-iteration-infinite"></div>
            <div class="shade-div42" qj-effect="slideOutLeftShort animation-duration20 animation-delay60 animation-iteration-infinite"></div>
            <div class="shade-div51" qj-effect="slideOutUpShort animation-duration30 animation-delay10"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="flash animation-iteration-infinite animation-duration100" class="bg1"/>
            <img src="../../assets/kpd/img61.png" qj-effect="fadeInDown animation-duration15" class="img61"/>
            <img src="../../assets/kpd/img62.png" qj-effect="" class="img62"/>
            <img src="../../assets/kpd/img65.png" qj-effect="" class="img65"/>
            <img src="../../assets/kpd/img63.png" qj-effect="fadeInDown animation-delay20 animation-duration20" class="img63"/>
            <img src="../../assets/kpd/img64.png" qj-effect="smallToBig animation-delay5 animation-duration15" class="img64"/>
            <img src="../../assets/kpd/img66.png" qj-effect="tada animation-delay35 animation-duration20" class="img66"/>
            <img src="../../assets/kpd/img67.png" qj-effect="" class="img67"/>
            <div class="shade-div61" qj-effect="slideOutRightShort animation-duration20 animation-delay40 animation-iteration-infinite"></div>
            <div class="shade-div62" qj-effect="slideOutLeftShort animation-duration20 animation-delay40 animation-iteration-infinite"></div>
            <div class="shade-div63" qj-effect="slideOutRightShort animation-duration20 animation-delay40 animation-iteration-infinite"></div>
            <div class="shade-div64" qj-effect="slideOutLeftShort animation-duration20 animation-delay40 animation-iteration-infinite"></div>
            <div class="shade-div65" qj-effect="slideOutUp animation-duration100 animation-delay10"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="flash animation-iteration-infinite animation-duration100" class="bg1"/>
            <!--<img src="../../assets/kpd/img81.png" qj-effect="rotateInFromRight animation-duration20" class="img81"/>-->
            <img src="../../assets/kpd/img82.png" qj-effect="fadeInUp animation-delay20 animation-duration20" class="img82"/>
            <img src="../../assets/kpd/img83.png" qj-effect="" class="img83"/>
            <img src="../../assets/kpd/img84.png" qj-effect="" class="img84"/>
            <img src="../../assets/kpd/img85.png" qj-effect="fadeInUp animation-delay5 animation-duration20" class="img85"/>
            <img src="../../assets/kpd/img86.png" qj-effect="" class="img86"/>
            <img src="../../assets/kpd/car2.png" qj-effect="myLightSpeedIn animation-delay10" class="img87"/>
            <!--<img src="../../assets/kpd/moto2.png" qj-effect="myLightSpeedInLeft animation-delay15" class="img88"/>-->
            <div class="shade-div81" qj-effect="slideOutRightShort animation-duration30 animation-delay30 animation-iteration-infinite"></div>
            <div class="shade-div82" qj-effect="slideOutLeftShort animation-duration30 animation-delay30 animation-iteration-infinite"></div>
            <div class="shade-div83" qj-effect="slideOutUpShort animation-duration20 animation-delay20"></div>
            <div class="shade-div84" qj-effect="slideOutRightShort animation-duration20 animation-delay30"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="flash animation-iteration-infinite animation-duration100" class="bg1"/>
            <img src="../../assets/kpd/img91.png" qj-effect="" class="img91"/>
            <img src="../../assets/kpd/img92.png" qj-effect="fastFlashAndShow animation-delay15 animation-duration20" class="img92"/>
            <img src="../../assets/kpd/img93.png" qj-effect="smallToBig animation-delay10 animation-duration20" class="img93"/>
            <img src="../../assets/kpd/img94.png" id="logo" qj-effect="bounceInOut1" class="img94"/>
            <img src="../../assets/kpd/img95.png" qj-effect="zoomIn animation-delay25 animation-duration20" class="img95"/>
            <img src="../../assets/kpd/img96.png" id="code" qj-effect="bounceInOut2" class="img96"/>
            <div class="shade-div91" qj-effect="slideOutRight animation-duration70"></div>
        </div>
    </div>
</body>
</html>
