<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>回首过去、展望未来，回天新材的2017更精彩！</title>
    <script>
        var docEle = document.documentElement;
        fn = function() {
            var width = docEle.clientWidth;
            if( width < 320 ) {
                docEle.style.fontSize = 42.6667 + "px";//
            }
            else if( width > 750 ) {
                docEle.style.fontSize = 100 + "px";
            }
            else {
                //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                docEle.style.fontSize = 100 * (width / 750) + "px";
            }
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
    <a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;" ></a>
    <audio id="bgMusic" loop="loop" autoplay="autoplay">
        <source src="music.mp3" type="audio/mpeg">
    </audio>
    <!--指示箭头-->
    <section class="u-arrow-bottom">
        <div class="pre-wrap">
            <div class="pre-box1">
                <div class="pre1"></div>
            </div>
            <div class="pre-box2">
                <div class="pre2"></div>
            </div>
        </div>
    </section>
    <div id="wxTitle" style="display:none;">回首过去、展望未来，回天新材的2017更精彩！</div>
    <div id="wxDesc" style="display:none;">2016年，营业收入11.32亿元，同比增长16%；营业利润9762万元，同比增长61%。</div>
    <img src="../../assets/kpd/fx.png" style="display:none;"/>
    <div id="qj">
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="fastFlashAndShow animation-iteration-infinite" class="bg1"/>
            <img src="../../assets/kpd/img11.png" qj-effect="fastFlashAndShow animation-duration20" class="img11"/>
            <img src="../../assets/kpd/img12.png" qj-effect="fastFlashAndShow animation-delay15  animation-duration20" class="img12"/>
            <img src="../../assets/kpd/img13.png" qj-effect="fastFlashAndShow animation-delay13 animation-duration20" class="img13"/>
            <img src="../../assets/kpd/img14.png" qj-effect="" class="img14"/>
            <img src="../../assets/kpd/img15.png" qj-effect="" class="img15"/>
            <img src="../../assets/kpd/img16.png" qj-effect="" class="img16"/>
            <img src="../../assets/kpd/img17.png" qj-effect="fadeInDown animation-delay25" class="img17"/>
            <img src="../../assets/kpd/img18.png" qj-effect="fadeInDown animation-delay20" class="img18"/>
            <div class="shade-div11" qj-effect="slideOutUp animation-duration50 animation-delay20"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="fastFlashAndShow animation-iteration-infinite" class="bg1"/>
            <img src="../../assets/kpd/img21.png" qj-effect="fastFlashAndShow animation-delay15 animation-duration20" class="img21"/>
            <img src="../../assets/kpd/img22.png" qj-effect="fastFlashAndShow animation-duration20" class="img22"/>
            <img src="../../assets/kpd/img23.png" qj-effect="flip animation-delay10 animation-duration10" class="img23"/>
            <img src="../../assets/kpd/img24.png" qj-effect="flip animation-delay20 animation-duration10" class="img24"/>
            <img src="../../assets/kpd/img25.png" qj-effect="flip animation-delay30 animation-duration10" class="img25"/>
            <img src="../../assets/kpd/img26.png" qj-effect="tada animation-delay40" class="img26"/>
            <img src="../../assets/kpd/img27.png" qj-effect="" class="img27"/>
            <img src="../../assets/kpd/img28.png" qj-effect="fadeInDown animation-delay40" class="img28"/>
            <div class="shade-div21" qj-effect="slideOutRightShort animation-duration20 animation-delay10 animation-iteration-infinite"></div>
            <div class="shade-div22" qj-effect="slideOutLeftShort animation-duration20 animation-delay10 animation-iteration-infinite"></div>
            <div class="shade-div23" qj-effect="slideOutRight animation-duration50 animation-delay50"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="fastFlashAndShow animation-iteration-infinite" class="bg1"/>
            <img src="../../assets/kpd/img31.png" qj-effect="flash animation-delay15 animation-duration25" class="img31"/>
            <img src="../../assets/kpd/img32.png" qj-effect="flash  animation-delay20 animation-duration25" class="img32"/>
            <img src="../../assets/kpd/img33.png" qj-effect="flip" class="img33"/>
            <img src="../../assets/kpd/img34.png" qj-effect="zoomInDown animation-delay5" class="img34"/>
            <img src="../../assets/kpd/img35.png" qj-effect="flash animation-delay20 animation-duration25" class="img35"/>
            <img src="../../assets/kpd/img36.png" qj-effect="flash animation-delay15 animation-duration25" class="img36"/>
            <img src="../../assets/kpd/img37.png" qj-effect="" class="img37"/>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="fastFlashAndShow animation-iteration-infinite" class="bg1"/>
            <img src="../../assets/kpd/img41.png" qj-effect="fadeInUp animation-delay5 animation-duration10" class="img41"/>
            <img src="../../assets/kpd/img42.png" qj-effect="fadeInUp  animation-duration10" class="img42"/>
            <img src="../../assets/kpd/img43.png" qj-effect="bigPulse animation-delay10 animation-duration20" class="img43"/>
            <img src="../../assets/kpd/img44.png" qj-effect="bigPulse animation-delay13 animation-duration20" class="img44"/>
            <img src="../../assets/kpd/img45.png" qj-effect="bigPulse animation-delay16 animation-duration20" class="img45"/>
            <img src="../../assets/kpd/img46.png" qj-effect="bigPulse animation-delay35 animation-iteration-infinite" class="img46"/>
            <img src="../../assets/kpd/img47.png" qj-effect="zoomInDown animation-delay35" class="img47"/>
            <img src="../../assets/kpd/img48.png" qj-effect="zoomInDown animation-delay40" class="img48"/>
            <img src="../../assets/kpd/img49.png" qj-effect="" class="img49"/>
            <div class="shade-div41" qj-effect="slideOutRightShort animation-duration20 animation-delay50 animation-iteration-infinite"></div>
            <div class="shade-div42" qj-effect="slideOutLeftShort animation-duration20 animation-delay50 animation-iteration-infinite"></div>
        </div>
        <div class="section">
            <img src="../../assets/kpd/bg1.png" qj-effect="fastFlashAndShow animation-iteration-infinite" class="bg1"/>
            <img src="../../assets/kpd/img41.png" qj-effect="fadeInUp animation-delay5 animation-duration20" class="img57"/>
            <img src="../../assets/kpd/img42.png" qj-effect="fadeInUp  animation-duration20" class="img58"/>
            <img src="../../assets/kpd/img51.png" qj-effect="zoomInDown animation-duration15" class="img51"/>
            <img src="../../assets/kpd/img52.png" qj-effect="bigPulse animation-delay35 animation-duration15" class="img52"/>
            <img src="../../assets/kpd/img53.png" qj-effect="bigPulse animation-delay25 animation-duration15" class="img53"/>
            <img src="../../assets/kpd/img54.png" qj-effect="" class="img54"/>
            <img src="../../assets/kpd/img55.png" qj-effect="zoomInDown animation-delay35 animation-duration20" class="img55"/>
            <img src="../../assets/kpd/img56.png" qj-effect="zoomInDown animation-delay40 animation-duration20" class="img56"/>
            <img src="../../assets/kpd/img49.png" qj-effect="" class="img49"/>
            <div class="shade-div41" qj-effect="slideOutRightShort animation-duration20 animation-delay60 animation-iteration-infinite"></div>
            <div class="shade-div42" qj-effect="slideOutLeftShort animation-duration20 animation-delay60 animation-iteration-infinite"></div>
            <div class="shade-div51" qj-effect="slideOutUpShort animation-duration30 animation-delay10"></div>
        </div>
    </div>
</body>
<script>
    $(function(){
        function getTransforms(translate3d){
            return {
                '-webkit-transform': translate3d,
                '-moz-transform': translate3d,
                '-ms-transform':translate3d,
                'transform': translate3d
            };
        }
        var sections = $('.section');
        var translate3d = 'translate3d(0px, 0px, 0px)';
        $('#qj').fullpage({
            continuousVertical: true,
            afterRender: function(){
                var effects = sections.eq(0).find('[qj-effect]');
                for(var j=0;j<effects.length;j++){
                    effects.eq(j).addClass(effects.eq(j).attr('qj-effect'));
                }
            },
            onLeave: function(index, nextIndex, direction ){

            },
            afterLoad: function(anchorLink, index){     //anchorLink 是锚链接的名称，index 是序号，从1开始计算
                if(index==1){
                    ($("#qj").css(getTransforms(translate3d)));     //循环回到第一页时强制定位页面到指定位置，不然在iphone下会有问题
                }
                var i= 0;
                for(i;i<sections.length;i++){
                    var effects = sections.eq(i).find('[qj-effect]');
                    if(i===index-1){
                        for(var j=0;j<effects.length;j++){
                            effects.eq(j).addClass(effects.eq(j).attr('qj-effect'));
                        }
                    }else{
                        for(var j=0;j<effects.length;j++) {
                            effects.eq(j).removeClass(effects.eq(j).attr('qj-effect'));
                        }
                    }
                }
            }
        });
    })

</script>
</html>
