<a class="mscBtn ddplay play" id="audioBtn" title="最幸福的人" style="cursor:pointer;" style="animation-duration:2s;"></a>
<audio id="bgMusic" loop="loop" autoplay="autoplay">
    <source src="./music.mp3" type="audio/mpeg">
</audio>
<!--指示箭头-->
<section class="u-arrow-bottom">
    <div class="pre-wrap">
        <div class="pre-box1">
            <div class="pre1"></div>
        </div>
        <div class="pre-box2">
            <div class="pre2"></div>
        </div>
    </div>
</section>
<!--<img src="../../assets/huitian/img1-1.png" class="bg-music"/>-->
<div id="qj">
    <div class="section bg1">
        <img src="../../assets/huitian/img1-1.png" qj-effect="bounceIn" class="img1-1" style="animation-delay:0.3s;"/>
        <img src="../../assets/huitian/img1-2.png" qj-effect="rotateLoopR" class="img1-2"/>
        <img src="../../assets/huitian/img1-3.png" qj-effect="fadeInDown" class="img1-3" style="animation-delay:2.5s;"/>
        <img src="../../assets/huitian/img1-4.png" qj-effect="scaleY" class="img1-4" style="animation-delay:0.5s;"/>
        <img src="../../assets/huitian/img1-5.png" qj-effect="scaleY" class="img1-5"/>
        <img src="../../assets/huitian/img1-6.png" qj-effect="fadeInDown" class="img1-6" style="animation-delay:2s;"/>
        <img src="../../assets/huitian/img1-7.png" qj-effect="scaleY" class="img1-7" style="animation-delay:0.8s;"/>
    </div>
    <div class="section bg2">
        <img src="../../assets/huitian/img2-1.png" qj-effect="fadeInLeft" class="img2-1" style="animation-delay:0s;
  animation-duration:2s;"/>
        <img src="../../assets/huitian/img2-2.png" qj-effect="bounceIn" class="img2-2" style="animation-duration:2s;"/>
        <img src="../../assets/huitian/img2-3.png" qj-effect="fadeInDown" class="img2-3" style="animation-delay:1.6s;animation-duration:2s;"/>
        <img src="../../assets/huitian/img2-4.png" qj-effect="slideInRight" class="img2-4" style="animation-delay:0.5s;animation-duration:2s;"/>
        <img src="../../assets/huitian/img2-5.png" qj-effect="fadeInDown" class="img2-5" style="animation-delay:0.5s;animation-duration:2s;"/>
        <div class="div2-1" qj-effect="slideInDownLoop" style="animation-delay:1s;"></div>
    </div>
    <div class="section bg3">
        <img src="../../assets/huitian/img3-1.png" qj-effect="fadeInLeft" class="img3-1" style="animation-delay:2s;
  animation-duration:2s;"/>
        <img src="../../assets/huitian/img3-2.png" qj-effect="fadeInDown" class="img3-2" style="animation-delay:1.5s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img3-3.png" qj-effect="fadeInDown" class="img3-3" style="animation-delay:1.0s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img3-4.png" qj-effect="fadeInDown" class="img3-4" style="animation-delay:0.5s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img3-5.png" qj-effect="fadeInDown" class="img3-5" style="animation-delay:0s;animation-duration:1.5s;"/>
    </div>
    <div class="section">
        <img src="../../assets/huitian/img4-1.png" class="img4-1" />
        <img src="../../assets/huitian/img4-2.png" qj-effect="fadeInDown" class="img4-2" style="animation-delay:0s;animation-duration:1s;"/>
        <img src="../../assets/huitian/img4-3.png" qj-effect="fadeInLeft" class="img4-3" style="animation-delay:0s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img4-4.png" qj-effect="fadeInRight" class="img4-4" style="animation-delay:0.3s;"/>
        <img src="../../assets/huitian/img4-5.png" qj-effect="bounceIn" class="img4-5" style="animation-delay:0.5s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img4-6.png" qj-effect="rotateLoopR" class="img4-6" style="animation-delay:0s"/>
        <!--<img src="../../assets/huitian/img4-7.png" qj-effect="" class="img4-7"/>-->
        <img src="../../assets/huitian/img4-8.png" qj-effect="fadeInDown" class="img4-8" style="animation-delay:1.0s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img4-9.png" qj-effect="fadeInDown" class="img4-9" style="animation-delay:1.0s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img4-10.png" qj-effect="fadeInUp" class="img4-10" style="animation-delay:1.5s;animation-duration:1.5s;"/>
    </div>
    <div class="section bg5">
        <img src="../../assets/huitian/img5-1.png" qj-effect="fadeInDownBig" class="img5-1" />
        <img src="../../assets/huitian/img5-2.png" qj-effect="bounceIn" class="img5-2" style="animation-delay:0s;animation-duration:1s;"/>
        <img src="../../assets/huitian/img5-3.png" qj-effect="rotateLoopR" class="img5-3" />
        <!--<img src="../../assets/huitian/img5-4.png" qj-effect="rotateLoopL" class="img5-4" />-->
        <img src="../../assets/huitian/img5-5.png" qj-effect="bounceIn" class="img5-5" style="animation-delay:0.5s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img5-6.png" qj-effect="bounceIn" class="img5-6" style="animation-delay:1.0s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img5-7.png" qj-effect="fadeInUp" class="img5-7" style="animation-delay:1.5s;animation-duration:1.5s;"/>
    </div>
    <div class="section bg6">
        <img src="../../assets/huitian/img6-1.png" qj-effect="fadeInDown" class="img6-1" />
        <img src="../../assets/huitian/img6-2.png" qj-effect="slideInLeft" class="img6-2" style="animation-delay:0s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img6-3.png" qj-effect="slideInRight" class="img6-3" style="animation-delay:0.3s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img6-4.png" qj-effect="bounceIn" class="img6-4" style="animation-delay:0.5s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img6-5.png" qj-effect="bounceIn" class="img6-5" style="animation-delay:0.5s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img6-6.png" qj-effect="bounceIn" class="img6-6" style="animation-delay:0s"/>
        <img src="../../assets/huitian/img6-7.png" qj-effect="fadeInDown" class="img6-7"/>
    </div>
    <div class="section bg7">
        <img src="../../assets/huitian/img7-1.png" qj-effect="fadeInLeft" class="img7-1" />
        <img src="../../assets/huitian/img7-2.png" qj-effect="bounceIn" class="img7-2" style="animation-delay:0.3s;animation-duration:1s;"/>
        <img src="../../assets/huitian/img7-3.png" qj-effect="fadeInDown" class="img7-3" style="animation-delay:0s;animation-duration:1s;"/>
        <img src="../../assets/huitian/img7-4.png" qj-effect="fadeInDown" class="img7-4" style="animation-delay:0.8s;animation-duration:1.5s;"/>
    </div>
    <div class="section bg8">
        <img src="../../assets/huitian/img8-1.png" qj-effect="fadeInDown" class="img8-1"  style="animation-delay:0.4s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img8-2.png" qj-effect="fadeInDown" class="img8-2" style="animation-delay:0.2s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img8-3.png" qj-effect="fadeInDown" class="img8-3" style="animation-delay:0s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img8-4.png" qj-effect="rotateLoopR" class="img8-4" />
        <img src="../../assets/huitian/img8-5.png" qj-effect="fadeInUp" class="img8-5" style="animation-delay:0s;animation-duration:1s;"/>
    </div>
    <div class="section bg9">
        <img src="../../assets/huitian/img9-1.png" qj-effect="fadeInDown" class="img9-1"  style="animation-delay:1.8s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img9-2.png" qj-effect="fadeInDown" class="img9-2" style="animation-delay:1.3s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img9-3.png" qj-effect="fadeInDown" class="img9-3" style="animation-delay:0.8s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img9-4.png" qj-effect="fadeInDown" class="img9-4" style="animation-delay:0.3s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img8-4.png" qj-effect="rotateLoopR" class="img9-5"/>
    </div>
    <div class="section bg10">
        <img src="../../assets/huitian/img10-1.png" qj-effect="slideInLeft" class="img10-1"  style="animation-delay:0s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img10-2.png" qj-effect="rotateLoopR" class="img10-2"/>
        <img src="../../assets/huitian/img10-3.png" qj-effect="slideInLeft" class="img10-3" style="animation-delay:0.3s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img10-4.png" qj-effect="bounceIn" class="img10-4" style="animation-delay:0.8s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img10-5.png" qj-effect="bounceIn" class="img10-5" style="animation-delay:0.3s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img10-6.png" qj-effect="fadeInDown" class="img10-6" style="animation-delay:0.8s;animation-duration:1.5s;"/>
    </div>
    <div class="section">
        <img src="../../assets/huitian/img11-1.png" qj-effect="rotateLoopR" class="img11-1"/>
        <img src="../../assets/huitian/img11-2.png" qj-effect="bounceIn" class="img11-2" style="animation-delay:0.3s;animation-duration:1.5s;"/>
        <img src="../../assets/huitian/img11-3.png" qj-effect="slideInUp" class="img11-3" style="animation-delay:0.8s;animation-duration:1.5s;"/>
    </div>
</div>