@import "../../lib/sass/core/_setting";
@import "../../lib/sass/core/_css3";
@import "../../lib/sass/core/_mixin";
@import "../../lib/sass/animate/_fade";
@import "../../lib/sass/animate/_bounce";
@import "../../lib/sass/animate/_slide";
@import "../../lib/sass/animate/_rotate";
@import "../../lib/sass/animate/_flip";
@import "../../lib/sass/animate/_special";
@import "../../lib/sass/animate/_attention-seekers";
@import "../../lib/sass/animate/_zoom";
@import "../../lib/sass/animate/_lightspeed";
@import "../../lib/sass/animate/_tiny";
@import "../../lib/sass/animate/_tiny-flash";
@import "../../lib/css/jquery.fullPage.css";
@import "../../lib/css/common";

@include animate-fadeInDown();        //由上往下滑动出现
@include animate-fadeInDownBig();
@include animate-fadeInLeft();
@include animate-fadeInRight();
@include animate-fadeInUp();
@include animate-fadeUpAndDown();
@include animate-rotateLoopR();       //顺时针旋转
@include animate-rotateLoopRF();       //顺时针旋转
@include animate-rotateLoopL();       //逆时针旋转
@include animate-bounceIn();
@include animate-slideInLeft();       //左侧划入
@include animate-slideInRight();       //右侧划入
@include animate-slideInDown();       //上面划入
@include animate-slideInUp();       //底部划入
@include animate-slideInDownLoop();       //向下循环位移
@include animate-slideInDown();       //由上往下位移
@include animate-slideInDownRotate();       //由上往下位移
@include animate-scaleY();

.scaleY {       //由下往上变形
  @include animation-duration(3s);
  @include transform-origin(0% 100%);
/*  animation-duration:3s;
  transform-origin:0% 100%;*/
}

.bg1{
  background: url(../../assets/huitian/bg1.png);
  background-size: 100% 100%;
}
.bg2{
  background: url(../../assets/huitian/bg2.png);
  background-size: 100% 100%;
}
.bg3{
  background: url(../../assets/huitian/bg3.png);
  background-size: 100% 100%;
}
.bg6{
  background: url(../../assets/huitian/bg6.png);
  background-size: 100% 100%;
}
.bg7{
  background: url(../../assets/huitian/bg7.png);
  background-size: 100% 100%;
}
.bg8{
  background: url(../../assets/huitian/bg8.png);
  background-size: 100% 100%;
}
.bg9{
  background: url(../../assets/huitian/bg9.png);
  background-size: 100% 100%;
}
.bg10{
  background: url(../../assets/huitian/bg10.png);
  background-size: 100% 100%;
}
%img-all{
  position: absolute;
  @include opacity(0);
}
.img1-1{
  @extend %img-all;
  width:3.89rem;
  height:3.89rem;
  top:0.86rem;
  left:50%;
  margin-left:-1.95rem;
  z-index:9;
}
.img1-2{
  @extend %img-all;
  width:3.89rem;
  height:3.89rem;
  top:0.86rem;
  left:50%;
  margin-left:-1.95rem;
}
.img1-3{
  @extend %img-all;
  width:4.26rem;
  height:1.61rem;
  top:42%;
  left:50%;
  margin-left:-2.13rem;
}
.img1-4{
  @extend %img-all;
  width:7.50rem;
  height:3.28rem;
  bottom:.2rem;
  left:0;
  z-index: 9;
}
.img1-5{
  @extend %img-all;
  width:7.50rem;
  height:4.64rem;
  bottom:0.2rem;
  left:0;
}
.img1-6{
  @extend %img-all;
  width:7.5rem;
  height:2.61rem;
  bottom:2.7rem;
  left:50%;
  margin-left:-3.75rem;
}
.img1-7{
  @extend %img-all;
  width:100%;
  height:3.20rem;
  bottom:3%;
  left:0;
  z-index: 99;
}
.img2-1{
  @extend %img-all;
  width:2.53rem;
  height:1.27rem;
  top:0.58rem;
  left:0;
  z-index:9;
}
.img2-2{
  @extend %img-all;
  width:7.50rem;
  height:4.7rem;
  top:0;
  left:0;
}
.img2-3{
  @extend %img-all;
  width:4.48rem;
  height:2.63rem;
  top:4.8rem;
  left:50%;
  margin-left:-2.24rem;
}
.img2-4{
  @extend %img-all;
  width:5.11rem;
  height:0.74rem;
  top:7.6rem;
  left:50%;
  margin-left:-2.55rem;
}
.img2-5{
  @extend %img-all;
  width:1.49rem;
  height:1.55rem;
  bottom:1.6rem;
  left:3.02rem;
}
.div2-1{
  @extend %img-all;
  width:0.08rem;
  height:0.08rem;
  @include border-radius(50%);
  background-color: $white;
  bottom:2.32rem;
  left:4.3rem;
  z-index:9;
}
.img3-1{
  @extend %img-all;
  width:5.41rem;
  height:0.63rem;
  top:0.58rem;
  left:0;
  z-index:9;
}
.img3-2{
  @extend %img-all;
  width:3.41rem;
  height:5.48rem;
  top:3.12rem;
  left:2.10rem;
}
.img3-3{
  @extend %img-all;
  width:6.55rem;
  height:3.76rem;
  top:2.1rem;
  left:0.42rem;
}
.img3-4{
  @extend %img-all;
  width:7.5rem;
  height:4.2rem;
  bottom:0;
  left:50%;
  margin-left:-3.75rem;
}
.img3-5{
  @extend %img-all;
  width:7.5rem;
  height:3.94rem;
  bottom:4.26rem;
  left:-0.4rem;
}
.img4-1{
  @extend %img-all;
  width:2.88rem;
  height:2.81rem;
  top:0;
  left:50%;
  margin-left:-1.44rem;
  @include opacity(100);
}
.img4-2{
  @extend %img-all;
  width:2.63rem;
  height:0.55rem;
  top:0.72rem;
  left:50%;
  margin-left:-1.31rem;
}
.img4-3{
  @extend %img-all;
  width:2.32rem;
  height:1.06rem;
  top:3.56rem;
  left:0.65rem;
}
.img4-4{
  @extend %img-all;
  width:2.39rem;
  height:1.61rem;
  top:2.94rem;
  right:0.48rem;
}
.img4-5{
  @extend %img-all;
  width:0.93rem;
  height:0.49rem;
  top:4.3rem;
  left:3.66rem;
}
.img4-6{
  @extend %img-all;
  width:4.12rem;
  height:4.12rem;
  top:4.8rem;
  left:50%;
  margin-left:-2.06rem;
}
.img4-7{
  @extend %img-all;
  width:3.77rem;
  height:3.77rem;
  top:5.0rem;
  left:50%;
  margin-left:-1.88rem;
  //@include opacity(100);
}
.img4-8{
  @extend %img-all;
  width:0.62rem;
  height:1.74rem;
  top:5.16rem;
  left:3.74rem;
}
.img4-9{
  @extend %img-all;
  width:0.1rem;
  height:1.71rem;
  top:5.16rem;
  left:3.74rem;
}
.img4-10{
  @extend %img-all;
  width:2.33rem;
  height:1.28rem;
  top:9.2rem;
  left:50%;
  margin-left:-1.16rem;
}

.img5-1{
  @extend %img-all;
  width:5.78rem;
  height:9.25rem;
  top:0.68rem;
  left:50%;
  margin-left:-2.89rem;
}
.img5-2{
  @extend %img-all;
  width:5.05rem;
  height:3.64rem;
  top:5.46rem;
  left:1.08rem;
}
.img5-3{
  @extend %img-all;
  width:3.46rem;
  height:3.46rem;
  top:5.4rem;
  left:50%;
  margin-left:-1.73rem;

}
.img5-4{
  @extend %img-all;
  width:3.44rem;
  height:3.44rem;
  top:5.4rem;
  left:50%;
  margin-left:-1.72rem;
}
.img5-5{
  @extend %img-all;
  width:4.12rem;
  height:4.12rem;
  top:5.07rem;
  left:50%;
  margin-left:-2.06rem;
}
.img5-6{
  @extend %img-all;
  width:4.12rem;
  height:4.12rem;
  top:5.07rem;
  left:50%;
  margin-left:-2.06rem;
}
.img5-7{
  @extend %img-all;
  width:7.5rem;
  height:1.40rem;
  bottom:0.1rem;
  left:50%;
  margin-left:-3.75rem;
}
.img6-1{
  @extend %img-all;
  width:5.88rem;
  height:1.71rem;
  top:0;
  left:50%;
  margin-left:-2.94rem;
}
.img6-2{
  @extend %img-all;
  width:2.69rem;
  height:2.25rem;
  top:2.72rem;
  left:0.4rem;
}
.img6-3{
  @extend %img-all;
  width:2.33rem;
  height:3.2rem;
  top:2.3rem;
  right:0.35rem;
}
.img6-4{
  @extend %img-all;
  width:0.31rem;
  height:2.67rem;
  top:5.6rem;
  left :1.4rem;
}
.img6-5{
  @extend %img-all;
  width:0.31rem;
  height:2.07rem;
  top:6.0rem;
  right:1.3rem;
}
.img6-6{
  @extend %img-all;
  width:2.7rem;
  height:0.67rem;
  top:5.2rem;
  left:50%;
  margin-left:-1.35rem;
}
.img6-7{
  @extend %img-all;
  width:1.84rem;
  height:1.70rem;
  top:6.94rem;
  left:50%;
  margin-left:-0.92rem;
}
.img7-1{
  @extend %img-all;
  width:2.8rem;
  height:1.31rem;
  top:0.3rem;
  left:0;
}
.img7-2{
  @extend %img-all;
  width:2.72rem;
  height:5.14rem;
  top:1.15rem;
  left:1.4rem;
}
.img7-3{
  @extend %img-all;
  width:2.87rem;
  height:5.92rem;
  top:0.9rem;
  right:0.45rem;
}
.img7-4{
  @extend %img-all;
  width:1.84rem;
  height:1.69rem;
  top:7.44rem;
  left:50%;
  margin-left:-0.92rem;
}
.img8-1{
  @extend %img-all;
  width:6.6rem;
  height:1.86rem;
  top:0.68rem;
  left:50%;
  margin-left:-3.3rem;
}
.img8-2{
  @extend %img-all;
  width:5.21rem;
  height:2.26rem;
  top:3.15rem;
  left:50%;
  margin-left:-2.6rem;
}
.img8-3{
  @extend %img-all;
  width:3.99rem;
  height:1.98rem;
  top:6.3rem;
  left:50%;
  margin-left:-2rem;
}
.img8-4{
  @extend %img-all;
  width:7.5rem;
  height:7.5rem;
  left:0;
  bottom:-3.75rem;
}
.img8-5{
  @extend %img-all;
  width:2.94rem;
  height:0.69rem;
  bottom:0.7rem;
  left:50%;
  margin-left:-1.47rem;
}
.img9-1{
  @extend %img-all;
  width:1.88rem;
  height:2.05rem;
  top:4.1rem;
  left:2.06rem;
}
.img9-2{
  @extend %img-all;
  width:1.42rem;
  height:1.59rem;
  top:4.98rem;
  right:1.96rem;
}
.img9-3{
  @extend %img-all;
  width:1.13rem;
  height:1.44rem;
  top:6.4rem;
  left:2.06rem;
}
.img9-4{
  @extend %img-all;
  width:1.17rem;
  height:1.37rem;
  top:6.85rem;
  right:2.8rem;
}
.img9-5{
  @extend %img-all;
  width:7.5rem;
  height:7.5rem;
  left:0;
  top:-3.75rem;
}
.img10-1{
  @extend %img-all;
  width:3.3rem;
  height:5.9rem;
  top:1rem;
  left:50%;
  margin-left:-1.65rem;
}
.img10-2{
  @extend %img-all;
  width:2.97rem;
  height:3.04rem;
  top:2.76rem;
  left:50%;
  margin-left:-1.48rem;
}
.img10-3{
  @extend %img-all;
  width:0.79rem;
  height:0.80rem;
  top:3.6rem;
  left:1.06rem;
}
.img10-4{
  @extend %img-all;
  width:0.67rem;
  height:0.54rem;
  top:3.9rem;
  right:0.9rem;
}
.img10-5{
  @extend %img-all;
  width:0.58rem;
  height:0.61rem;
  left:3.2rem;
  top:4.2rem;
}
.img10-6{
  @extend %img-all;
  width:3.98rem;
  height:0.61rem;
  left:1.9rem;
  top:3.8rem;
}
.img11-1{
  @extend %img-all;
  width:5.32rem;
  height:5.32rem;
  top:1.37rem;
  left:50%;
  margin-left:-2.66rem;
}
.img11-2{
  @extend %img-all;
  width:3.8rem;
  height:3.07rem;
  top:2rem;
  left:50%;
  margin-left:-1.9rem;
}
.img11-3{
  @extend %img-all;
  width:3.7rem;
  height:3.8rem;
  bottom:0.7rem;
  left:50%;
  margin-left:-1.85rem;
}