<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>回首过去、展望未来，回天新材的2017更精彩！</title>
    <script>
        var docEle = document.documentElement;
        fn = function() {
            var width = docEle.clientWidth;
            if( width < 320 ) {
                docEle.style.fontSize = 42.6667 + "px";//
            }
            else if( width > 750 ) {
                docEle.style.fontSize = 100 + "px";
            }
            else {
                //以750设计稿宽度为基准设置fontSize:100px;这样保证iPhone6以下是高清
                docEle.style.fontSize = 100 * (width / 750) + "px";
            }
        };
        var evt = "onorientationchange" in window ? "orientationchange" : "resize";//区分Mobile和PC以加载不同的事件
        window.addEventListener(evt, fn, false);
        fn();
    </script>
</head>
<body>
    <a class="mscBtn ddplay play" id="audioBtn" title="music" style="cursor:pointer;animation-duration:2s;"></a>
    <audio id="bgMusic" loop="loop" autoplay="autoplay">
        <source src="./music.mp3" type="audio/mpeg">
    </audio>
    <!--指示箭头-->
    <section class="u-arrow-bottom">
        <div class="pre-wrap">
            <div class="pre-box1">
                <div class="pre1"></div>
            </div>
            <div class="pre-box2">
                <div class="pre2"></div>
            </div>
        </div>
    </section>
    <img src="../../assets/huitian/fx.png" style="display:none;"/>
    <div id="qj">
        <div class="section bg1">
            <img src="../../assets/huitian/img1-1.png" qj-effect="bounceIn animation-delay3" class="img1-1"/>
            <img src="../../assets/huitian/img1-2.png" qj-effect="rotateLoopR" class="img1-2"/>
            <img src="../../assets/huitian/img1-3.png" qj-effect="fadeInDown animation-delay25" class="img1-3"/>
            <img src="../../assets/huitian/img1-4.png" qj-effect="scaleY animation-delay5" class="img1-4"/>
            <img src="../../assets/huitian/img1-5.png" qj-effect="scaleY" class="img1-5"/>
            <img src="../../assets/huitian/img1-6.png" qj-effect="fadeInDown animation-delay20" class="img1-6"/>
            <img src="../../assets/huitian/img1-7.png" qj-effect="scaleY animation-delay8" class="img1-7"/>
        </div>
        <div class="section bg2">
            <img src="../../assets/huitian/img2-1.png" qj-effect="fadeInLeft animation-duration20" class="img2-1"/>
            <img src="../../assets/huitian/img2-2.png" qj-effect="bounceIn animation-duration20" class="img2-2"/>
            <img src="../../assets/huitian/img2-3.png" qj-effect="fadeInDown animation-delay16 animation-duration20" class="img2-3"/>
            <img src="../../assets/huitian/img2-4.png" qj-effect="slideInRight animation-delay5 animation-duration20" class="img2-4"/>
            <img src="../../assets/huitian/img2-5.png" qj-effect="fadeInDown animation-delay5 animation-duration20" class="img2-5"/>
            <div class="div2-1" qj-effect="slideInDownLoop animation-delay10" ></div>
        </div>
        <div class="section bg3">
            <img src="../../assets/huitian/img3-1.png" qj-effect="fadeInLeft animation-delay20 animation-duration20" class="img3-1"/>
            <img src="../../assets/huitian/img3-2.png" qj-effect="fadeInDown animation-delay15 animation-duration15" class="img3-2" />
            <img src="../../assets/huitian/img3-3.png" qj-effect="fadeInDown animation-delay10 animation-duration15" class="img3-3" />
            <img src="../../assets/huitian/img3-4.png" qj-effect="fadeInDown animation-delay5 animation-duration15" class="img3-4" />
            <img src="../../assets/huitian/img3-5.png" qj-effect="fadeInDown" class="img3-5 animation-duration15" />
        </div>
        <div class="section">
            <img src="../../assets/huitian/img4-1.png" class="img4-1" />
            <img src="../../assets/huitian/img4-2.png" qj-effect="fadeInDown animation-duration10" class="img4-2"/>
            <img src="../../assets/huitian/img4-3.png" qj-effect="fadeInLeft animation-duration15" class="img4-3" />
            <img src="../../assets/huitian/img4-4.png" qj-effect="fadeInRight animation-delay3" class="img4-4"/>
            <img src="../../assets/huitian/img4-5.png" qj-effect="bounceIn animation-delay5 animation-duration15" class="img4-5"/>
            <img src="../../assets/huitian/img4-6.png" qj-effect="rotateLoopR" class="img4-6"/>
            <!--<img src="../../assets/huitian/img4-7.png" qj-effect="" class="img4-7"/>-->
            <img src="../../assets/huitian/img4-8.png" qj-effect="fadeInDown animation-delay10 animation-duration15" class="img4-8"/>
            <img src="../../assets/huitian/img4-9.png" qj-effect="fadeInDown animation-delay10 animation-duration15" class="img4-9"/>
            <img src="../../assets/huitian/img4-10.png" qj-effect="fadeInUp animation-delay15 animation-duration15" class="img4-10"/>
        </div>
        <div class="section bg5">
            <img src="../../assets/huitian/img5-1.png" qj-effect="fadeInDownBig" class="img5-1" />
            <img src="../../assets/huitian/img5-2.png" qj-effect="bounceIn animation-duration10" class="img5-2" />
            <img src="../../assets/huitian/img5-3.png" qj-effect="rotateLoopR" class="img5-3" />
            <!--<img src="../../assets/huitian/img5-4.png" qj-effect="rotateLoopL" class="img5-4" />-->
            <img src="../../assets/huitian/img5-5.png" qj-effect="bounceIn animation-delay5 animation-duration15" class="img5-5"/>
            <img src="../../assets/huitian/img5-6.png" qj-effect="bounceIn animation-delay10 animation-duration15" class="img5-6"/>
            <img src="../../assets/huitian/img5-7.png" qj-effect="fadeInUp animation-delay15 animation-duration15" class="img5-7"/>
        </div>
        <div class="section bg6">
            <img src="../../assets/huitian/img6-1.png" qj-effect="fadeInDown" class="img6-1" />
            <img src="../../assets/huitian/img6-2.png" qj-effect="slideInLeft animation-duration15" class="img6-2" />
            <img src="../../assets/huitian/img6-3.png" qj-effect="slideInRight animation-delay3 animation-duration15" class="img6-3" />
            <img src="../../assets/huitian/img6-4.png" qj-effect="bounceIn animation-delay5 animation-duration15" class="img6-4"/>
            <img src="../../assets/huitian/img6-5.png" qj-effect="bounceIn animation-delay5 animation-duration15" class="img6-5"/>
            <img src="../../assets/huitian/img6-6.png" qj-effect="bounceIn" class="img6-6" />
            <img src="../../assets/huitian/img6-7.png" qj-effect="fadeUpAndDown" class="img6-7"/>
        </div>
        <div class="section bg7">
            <img src="../../assets/huitian/img7-1.png" qj-effect="fadeInLeft" class="img7-1" />
            <img src="../../assets/huitian/img7-2.png" qj-effect="bounceIn animation-delay3 animation-duration10" class="img7-2" />
            <img src="../../assets/huitian/img7-3.png" qj-effect="fadeInDown" class="img7-3 animation-duration10" >
            <img src="../../assets/huitian/img7-4.png" qj-effect="fadeUpAndDown animation-delay8" class="img7-4" />
        </div>
        <div class="section bg8">
            <img src="../../assets/huitian/img8-1.png" qj-effect="fadeInDown animation-delay5 animation-duration15" class="img8-1"  />
            <img src="../../assets/huitian/img8-2.png" qj-effect="fadeInDown animation-delay3 animation-duration15" class="img8-2" />
            <img src="../../assets/huitian/img8-3.png" qj-effect="fadeInDown animation-duration15"  class="img8-3"/>
            <img src="../../assets/huitian/img8-4.png" qj-effect="rotateLoopR" class="img8-4" />
            <img src="../../assets/huitian/img8-5.png" qj-effect="fadeInUp animation-duration10" class="img8-5" />
        </div>
        <div class="section bg9">
            <img src="../../assets/huitian/img9-1.png" qj-effect="fadeInDown animation-delay18 animation-duration15" class="img9-1" />
            <img src="../../assets/huitian/img9-2.png" qj-effect="fadeInDown animation-delay13 animation-duration15" class="img9-2" />
            <img src="../../assets/huitian/img9-3.png" qj-effect="fadeInDown animation-delay8 animation-duration15" class="img9-3" />
            <img src="../../assets/huitian/img9-4.png" qj-effect="fadeInDown animation-delay3 animation-duration15" class="img9-4" />
            <img src="../../assets/huitian/img8-4.png" qj-effect="rotateLoopR" class="img9-5"/>
        </div>
        <div class="section bg10">
            <img src="../../assets/huitian/img10-1.png" qj-effect="slideInLeft animation-duration15" class="img10-1" />
            <img src="../../assets/huitian/img10-2.png" qj-effect="rotateLoopR" class="img10-2"/>
            <img src="../../assets/huitian/img10-3.png" qj-effect="slideInLeft animation-delay3 animation-duration15" class="img10-3" />
            <img src="../../assets/huitian/img10-4.png" qj-effect="bounceIn animation-delay8 animation-duration15" class="img10-4" />
            <img src="../../assets/huitian/img10-5.png" qj-effect="bounceIn animation-delay3 animation-duration15" class="img10-5" />
            <img src="../../assets/huitian/img10-6.png" qj-effect="fadeInDown animation-delay8 animation-duration15" class="img10-6" />
        </div>
        <div class="section">
            <img src="../../assets/huitian/img11-1.png" qj-effect="rotateLoopR" class="img11-1"/>
            <img src="../../assets/huitian/img11-2.png" qj-effect="bounceIn animation-delay3 animation-duration15" class="img11-2" />
            <img src="../../assets/huitian/img11-3.png" qj-effect="slideInUp animation-delay8 animation-duration15" class="img11-3" />
        </div>
    </div>
</body>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    $(function(){
        function getTransforms(translate3d){
            return {
                '-webkit-transform': translate3d,
                '-moz-transform': translate3d,
                '-ms-transform':translate3d,
                'transform': translate3d
            };
        }
        var music = document.getElementById("bgMusic");
        $("#audioBtn").click(function(){
            if(music.paused){music.play();
                $("#audioBtn").removeClass("pause").addClass("play");
            }else{music.pause();
                $("#audioBtn").removeClass("play").addClass("pause");
            }
        });
        var sections = $('.section');
        var translate3d = 'translate3d(0px, 0px, 0px)';
        $('#qj').fullpage({
//            sectionsColor: ['#FFFFFF', '#FFFFFF', '#FFFFFF', '#FFFFFF'],
            continuousVertical: true,
//            loopBottom:true,
            afterRender: function(){
                var effects = sections.eq(0).find('[qj-effect]');
                for(var j=0;j<effects.length;j++){
                    effects.eq(j).addClass(effects.eq(j).attr('qj-effect'));
                }
            },
            onLeave: function(index, nextIndex, direction ){

            },
            afterLoad: function(anchorLink, index){     //anchorLink 是锚链接的名称，index 是序号，从1开始计算
                if(index===8){          //第八页和第九页用了同一个图
                    $('.img9-5').hide();
                }else{
                    $('.img9-5').show();
                }
                if(index==1){
                    ($("#qj").css(getTransforms(translate3d)));     //循环回到第一页时强制定位页面到指定位置，不然在iphone下会有问题
                }
                var i= 0;
                for(i;i<sections.length;i++){
                    var effects = sections.eq(i).find('[qj-effect]');
                    if(i===index-1){
                        for(var j=0;j<effects.length;j++){
                            effects.eq(j).addClass(effects.eq(j).attr('qj-effect'));
                        }
                    }else{
                        for(var j=0;j<effects.length;j++) {
                            effects.eq(j).removeClass(effects.eq(j).attr('qj-effect'));
                        }
                    }
                }
            }
        });
    })
    //一般情况下，这样就可以自动播放了，但是一些奇葩iPhone机不可以
    document.getElementById('bgMusic').play();
    //必须在微信Weixin JSAPI的WeixinJSBridgeReady才能生效
    document.addEventListener("WeixinJSBridgeReady", function () {
        document.getElementById('bgMusic').play();
        document.getElementById('video').play();
    }, false);
    var share_title = '回首过去、展望未来，回天新材的2017更精彩！';
    var share_desc = '2016年，营业收入11.32亿元，同比增长16%；营业利润9762万元，同比增长61%。';
    var share_link = location.href;
    var share_img = location.href.split('index.html')[0] + 'assets/fx.png';
    function shareFriend(shareTitle,descContent,lineLink) {
        wx.onMenuShareAppMessage({
            title: shareTitle,
            desc: descContent,
            link: lineLink,
            imgUrl: share_img,
            trigger: function (res) {
                $('#mcover').hide();
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
    }

    function shareTimeline(shareTitle,descContent,lineLink) {
        wx.onMenuShareTimeline({
            title: shareTitle,
            link: lineLink,
            imgUrl: share_img,
            trigger: function (res) {
                $('#mcover').hide();
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
    }

    function shareQQ(shareTitle,descContent,lineLink){
        wx.onMenuShareQQ({
            title: shareTitle,
            desc: descContent,
            link: lineLink,
            imgUrl: share_img,
            trigger: function (res) {
                $('#mcover').hide();
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
    };

    function shareWeibo(shareTitle,descContent,lineLink){
        wx.onMenuShareWeibo({
            title: shareTitle,
            desc: descContent,
            link: lineLink,
            imgUrl: share_img,
            trigger: function (res) {
                $('#mcover').hide();
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
    };
    $(document).ready(function() {
        var url = location.href.split('#').toString();
        $.ajax({
            url: 'http://inews.p5w.net/wx/sign.php',
            type: 'post',
            dataType: 'json',
            data: {'url': url},
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            },
            success: function (signPackage) {
                if (signPackage) {
                    var share_appid = signPackage.appId;
                    var share_nonceStr = signPackage.nonceStr;
                    var share_signature = signPackage.signature;
                    var share_timestamp = signPackage.timestamp;

                    wx.config({
                        debug: false,
                        appId: share_appid,
                        timestamp: share_timestamp,
                        nonceStr: share_nonceStr,
                        signature: share_signature,
                        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo']
                    });

                    wx.ready(function () {

                        //发送给好友
                        shareFriend(share_title, share_desc, share_link);

                        //分享到朋友圈
                        shareTimeline(share_title, share_desc, share_link);

                        //分享给QQ好友
                        shareQQ(share_title, share_desc, share_link);

                        //分享到微博
                        shareWeibo(share_title, share_desc, share_link);
                    });

                }
            }
        });
    });

</script>
</html>
