html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    position: relative;
}
.img-main{
    width:100%;
    display: block;
}
.img-btn{
    position: absolute;
    bottom:5.9rem;
    left:50%;
    margin-left:-1.24rem;
    width:2.5rem;
    height:1.37rem;
}
.btn-go-top{
    position: absolute;
    bottom: 4.1rem;
    left: 50%;
    margin-left: -2.5rem;
    width: 5rem;
    height: 0.7rem;
    background-color: rgba(0,0,0,0);
}
.play {
    animation: f 1.2s linear infinite;
    -moz-animation: f 1.2s linear infinite;
    -webkit-animation: f 1.2s linear infinite;
    -o-animation: f 1.2s linear infinite
}
.mscBtn {
    position: fixed;
    top: 0.2rem;
    right: 0.2rem;
    width: 0.6rem;
    z-index: 7;
    height: 0.6rem;
    background: url(../assets/normalmusic.svg) no-repeat;
    display: block;
    background-size: contain
}
.img-light{
    position: absolute;
    top: 1.3rem;
    left: 50%;
    margin-left:-3.14rem;
    width:6.2rem;
    height:5.34rem;
}
.img11,.img21,.img22,.img31,.img32,.img41,.img42,.img51,.img52,.img61,.img62,.img71,.img72,.img81,.img82,.img91,.img92{
    position: absolute;
    opacity: 0;
}
.img11{
    top: 6.78rem;
    left: 4.18rem;
    width:3.13rem;
    height:2.54rem;
}
.img21{
    top: 39.26rem;
    left: 4.28rem;
    width:2.25rem;
    height:1.91rem;
}
.img22{
    top: 38.26rem;
    left: 5.88rem;
    width:1.89rem;
    height:1.36rem;
}
.img31{
    top: 49.58rem;
    left: 3.96rem;
    width:3.02rem;
    height:2.58rem;
}
.img32{
    top: 48.68rem;
    left: 5.36rem;
    width:1.96rem;
    height:1.42rem;
}
.img41{
    top: 59.88rem;
    left: 4.26rem;
    width:2.74rem;
    height:2.37rem;
}
.img42{
    top: 60.48rem;
    left: 3.06rem;
    width:2.31rem;
    height:1.50rem;
}
.img51{
    top: 69.78rem;
    left: 4.1rem;
    width:2.74rem;
    height:2.37rem;
}
.img52{
    top: 69.1rem;
    left: 3.02rem;
    width:1.96rem;
    height:1.31rem;
}
.img61{
    top: 81.18rem;
    left: 4.1rem;
    width:2.82rem;
    height:2.34rem;
}
.img62{
    top: 81.88rem;
    left: 2.82rem;
    width:1.96rem;
    height:1.27rem;
}
.img71{
    top: 91.38rem;
    left: 4.3rem;
    width:2.82rem;
    height:2.34rem;
}
.img72{
    top: 91.88rem;
    left: 3.5rem;
    width:1.73rem;
    height:1.13rem;
}
.img81{
    top: 98.64rem;
    left: 3.82rem;
    width:3.14rem;
    height:2.34rem;
}
.img82{
    top: 97.64rem;
    left: 5.32rem;
    width:1.86rem;
    height:1.38rem;
}
.img91{
    top: 123.8rem;
    left: 4.8rem;
    width:2.34rem;
    height:2.27rem;
}
.img92{
    top: 124.3rem;
    left: 2.8rem;
    width:2.52rem;
    height:1.61rem;
}

.bounceIn,.fadeInDown,.fadeInDownBig,.fadeInLeft,.fadeInRight,.fadeInUp,.rotateLoopL,.rotateLoopR,.rotateLoopRF,.scaleY,.slideInDown,.slideInDownLoop,.slideInDownRotate,.slideInLeft,.slideInRight,.slideInUp {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@-webkit-keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.fadeInDown {
    -webkit-animation-name: a;
    animation-name: a
}

.fadeInDownBig {
    -webkit-animation-name: m;
    animation-name: m
}

@-webkit-keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.fadeInLeft {
    -webkit-animation-name: b;
    animation-name: b
}

@-webkit-keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.fadeInRight {
    -webkit-animation-name: c;
    animation-name: c
}

@-webkit-keyframes d {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes d {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.fadeInUp {
    -webkit-animation-name: d;
    animation-name: d
}

@-webkit-keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }

    10% {
        opacity: 1
    }

    to {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }

    10% {
        opacity: 1
    }

    to {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.rotateLoopR {
    -webkit-animation-name: e;
    animation-name: e;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear
}

@-webkit-keyframes f {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes f {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.rotateLoopRF {
    -webkit-animation-name: f;
    animation-name: f;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear
}

@-webkit-keyframes g {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes g {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.rotateLoopL {
    -webkit-animation-name: g;
    animation-name: g;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear
}

@-webkit-keyframes h {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes h {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.bounceIn {
    -webkit-animation-name: h;
    animation-name: h
}

@-webkit-keyframes i {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes i {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.slideInLeft {
    -webkit-animation-name: i;
    animation-name: i
}

@-webkit-keyframes j {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2rem);
        transform: translateX(2rem)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes j {
    0% {
        opacity: 0;
        -webkit-transform: translateX(200px);
        transform: translateX(200px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.slideInRight {
    -webkit-animation-name: j;
    animation-name: j
}

@-webkit-keyframes k {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes k {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.slideInUp {
    -webkit-animation-name: k;
    animation-name: k
}

@-webkit-keyframes l {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-.1rem);
        transform: translateY(-.1rem)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(.14rem);
        transform: translateY(.14rem)
    }
}

@keyframes l {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-.1rem);
        transform: translateY(-.1rem)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(.14rem);
        transform: translateY(.14rem)
    }
}

.slideInDownLoop {
    -webkit-animation-name: l;
    animation-name: l;
    animation-iteration-count: infinite
}

@-webkit-keyframes m {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes m {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.slideInDown {
    -webkit-animation-name: m;
    animation-name: m
}

@-webkit-keyframes n {
    0% {
        opacity: 0;
        -webkit-transform: rotate(55deg);
        transform: rotate(55deg);
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px)
    }

    to {
        -webkit-transform: rotate(55deg);
        transform: rotate(55deg);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes n {
    0% {
        opacity: 0;
        -webkit-transform: rotate(55deg);
        transform: rotate(55deg);
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px)
    }

    to {
        -webkit-transform: rotate(55deg);
        transform: rotate(55deg);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.slideInDownRotate {
    -webkit-animation-name: n;
    animation-name: n
}

@-webkit-keyframes o {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(.2);
        transform: scaleY(.2)
    }

    1% {
        opacity: 1;
        -webkit-transform: scaleY(.2);
        transform: scaleY(.2)
    }

    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes o {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(.2);
        transform: scaleY(.2)
    }

    1% {
        opacity: 1;
        -webkit-transform: scaleY(.2);
        transform: scaleY(.2)
    }

    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

.scaleY {
    -webkit-animation-name: o;
    animation-name: o;
    animation-duration: 3s;
    transform-origin: 0 100%
}

@-webkit-keyframes p {
    0%,30% {
        opacity: 0;
        -webkit-transform: translateY(10px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(0)
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-8px)
    }
}

@keyframes p {
    0%,30% {
        opacity: 0;
        transform: translateY(10px)
    }

    60% {
        opacity: 1;
        transform: translate(0)
    }

    to {
        opacity: 0;
        transform: translateY(-8px)
    }
}

.fade {
    -webkit-animation-name: q;
    animation-name: q;
    animation-duration: 0.8s;
    animation-iteration-count:infinite;
}

@-webkit-keyframes q {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes q {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}