<!DOCTYPE html>
<html ng-app="ngApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <title>接待日pc</title>
</head>
<body ng-controller="IndexCtrl" ng-cloak>
    <img src="../../assets/jdr-pc/coordinate.png" hidden/>
    <img src="../../assets/jdr-pc/history1.jpg" hidden/>
    <div class="this_year">
        <div class="this_year_time">
            <h2>2017</h2>
            <div>活动预告</div>
        </div>
        <!--<div class="slide-back">
            <div class="slide-back-one"></div>
            <div class="slide-back-two"></div>
            <div class="slide-back-three"></div>
        </div>-->
        <!--遍历2017年各个月的数据，生成12个swiper分别对应每个月   start-->
        <div class="swiper-container swiper-container1 {{::thisYear.swiperContainer}}" ng-show="thisYear.contents.length>0"
             ng-repeat="thisYear in datas.thisYears track by $index" on-finish-render-filters>
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="content in thisYear.contents">
                    <div class="swiper-slide-content">
                        <img class="media-img" ng-src="{{::content.imgUrl}}"/>
                        <div class="media-content">
                            <h3>{{::content.title}}</h3>
                            <p>{{::content.content}}</p>
                            <span>{{::content.date}}<time>{{::content.time}}</time></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-white"><span class="arrow-left"></span></div>
            <div class="swiper-button-next swiper-button-white"><span class="arrow-right"></span></div>
        </div>
        <!--遍历2017年各个月的数据，生成12个swiper分别对应每个月   end-->
        <div>
            <img src="../../assets/jdr-pc/2017.png" class="img-2017"/>
        </div>
        <div class="months">            <!--2017活动预告底部的月份导航  start-->
            <ul>
                <li data-index="{{::months.swiperContainer}}" ng-class="{'have-data':months.contents.length>0}"
                    ng-repeat="months in datas.thisYears track by $index" >{{::months.month}}<span
                        ng-class="{true:'span-bg-yellow',false:'span-bg-white'}[months.contents.length>0]"></span></li>
            </ul>
            <div class="month-line"></div>
        </div>                      <!--2017活动预告底部的月份导航   end-->
    </div>
    <div class="history">
        <h3 class="title">历史活动</h3>
        <img src="../../assets/jdr-pc/yellow-river-year.png" class="yellow-river"/>
        <div class="swiper-container swiper-container2">
            <div class="swiper-wrapper">

                <div class="swiper-slide" ng-show="history.contents.length>0"
                     ng-repeat="history in datas.historys track by $index" on-finish-render-filters-history>
                    <div class="swiper-slide-content">
                        <div class="history-year">{{::history.year}}</div>
                        <div data-history-swiper="{{::history.swiperContainer}}"
                           data-history-pagination="{{::history.swiperPagination}}"
                                ng-hide="true"></div>

                        <div class="swiper-container swiper-container21 {{::history.swiperContainer}}">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" ng-repeat="content in history.contents">
                                    <img class="media-img" ng-src="{{::content.imgUrl}}"/>
                                    <div class="media-content">
                                        <h3>{{::content.title}}</h3>
                                        <p>{{::content.content}}</p>
                                        <a ng-href="{{::content.jumpUrl}}">进入专题网站</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiper-pagination-city {{::history.swiperPagination}}"
                                 data-city="深圳,北京"></div>
                        </div>

                    </div>
                </div>


            </div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-white"><span class="arrow-left"></span></div>
            <div class="swiper-button-next swiper-button-white"><span class="arrow-right"></span></div>
        </div>
    </div>
</body>
</html>
