<!DOCTYPE html>
<html ng-app="ngApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <title>接待日pc</title>
</head>
<body ng-controller="IndexCtrl" ng-cloak>
    <img src="../../assets/jdr-pc/coordinate.png" hidden/>
    <div class="this_year">
        <div class="this_year_time">
            <h2>2017</h2>
            <div>活动预告</div>
        </div>
        <div class="slide-back">
            <div class="slide-back-one"></div>
            <div class="slide-back-two"></div>
            <div class="slide-back-three"></div>
        </div>
        <div class="swiper-container swiper-container1 swiper-container11">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-content">
                        <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                        <div class="media-content">
                            <h3>2017年陕西上市公司集体接待日1月份</h3>
                            <p>为进一步推动上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                            <span>举办时间 : 2017年05月09日<time>15:00-17:00</time></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-content">
                        <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                        <div class="media-content">
                            <h3>2017年陕西上市公司集体接待日1月份</h3>
                            <p>为进一步推动为进一步推动上市公司提升投资者关系管理水平为进一步推动上市公司提升投资者关系管理水平为进一步推动上市公司提升投资者关系管理水平上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                            <span>举办时间 : 2017年05月09日<time>15:00-17:00</time></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-white"><span class="arrow-left"></span></div>
            <div class="swiper-button-next swiper-button-white"><span class="arrow-right"></span></div>
        </div>
        <div class="swiper-container swiper-container1 swiper-container12" hidden>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide-content">
                        <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                        <div class="media-content">
                            <h3>2017年陕西上市公司集体接待日2月份</h3>
                            <p>为进一步推动上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                            <span>举办时间 : 2017年05月09日<time>15:00-17:00</time></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide-content">
                        <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                        <div class="media-content">
                            <h3>2017年陕西上市公司集体接待日2月份</h3>
                            <p>为进一步推动为进一步推动上市公司提升投资者关系管理水平为进一步推动上市公司提升投资者关系管理水平为进一步推动上市公司提升投资者关系管理水平上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                            <span>举办时间 : 2017年05月09日<time>15:00-17:00</time></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-white"><span class="arrow-left"></span></div>
            <div class="swiper-button-next swiper-button-white"><span class="arrow-right"></span></div>
        </div>
        <div>
            <img src="../../assets/jdr-pc/2017.png" class="img-2017"/>
        </div>
        <div class="months">
            <ul>
                <li data-index="swiper-container11" class="active have-data">1<span class="span-bg-white"></span></li>
                <li data-index="swiper-container12" class="have-data">2<span class="span-bg-yellow"></span></li>
                <li data-index="3">3<span class="span-bg-white"></span></li>
                <li data-index="4">4<span class="span-bg-yellow"></span></li>
                <li data-index="5">5<span class="span-bg-white"></span></li>
                <li data-index="6">6<span class="span-bg-white"></span></li>
                <li data-index="7">7<span class="span-bg-white"></span></li>
                <li data-index="8">8<span class="span-bg-white"></span></li>
                <li data-index="9">9<span class="span-bg-white"></span></li>
                <li data-index="10">10<span class="span-bg-white"></span></li>
                <li data-index="11">11<span class="span-bg-white"></span></li>
                <li data-index="12">12<span class="span-bg-white"></span></li>
            </ul>
            <div class="month-line"></div>
        </div>
    </div>
    <div class="history">
        <h3 class="title">历史活动</h3>
        <img src="../../assets/jdr-pc/yellow-river-year.png" class="yellow-river"/>
        <div class="swiper-container swiper-container2">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="swiper-slide-content">
                        <div class="history-year">2016</div>

                        <div class="swiper-container swiper-container2016">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                                    <div class="media-content">
                                        <h3>2016年陕西上市公司集体接待日</h3>
                                        <p>为进一步推动上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                                        <a href="###">进入专题网站2016-01</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                                    <div class="media-content">
                                        <h3>2016年陕西上市公司集体接待日</h3>
                                        <p>为进一步推动上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                                        <a href="###">进入专题网站2016-02</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                                    <div class="media-content">
                                        <h3>2016年陕西上市公司集体接待日</h3>
                                        <p>为进一步推动上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                                        <a href="###">进入专题网站2016-02</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiper-pagination2016" data-city="深圳,广州,厦门,重庆,湖南,江西,云南"></div>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="swiper-slide-content">
                        <div class="history-year">2015</div>

                        <div class="swiper-container swiper-container2015">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                                    <div class="media-content">
                                        <h3>2015年陕西上市公司集体接待日</h3>
                                        <p>为进一步推动上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                                        <a href="###">进入专题网站2015-01</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <img class="media-img" src="../../assets/jdr-pc/this_year1.png"  />
                                    <div class="media-content">
                                        <h3>2015年陕西上市公司集体接待日</h3>
                                        <p>为进一步推动上市公司提升投资者关系管理水平，加强与投资者的沟通与交流，中国证券监督管理委员会陕西监管局联合陕西上市公司协会和深</p>
                                        <a href="###">进入专题网站2015-02</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiper-pagination2015"></div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-white"><span class="arrow-left"></span></div>
            <div class="swiper-button-next swiper-button-white"><span class="arrow-right"></span></div>
        </div>
    </div>
</body>
</html>
